<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>
{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}

<h4  class="red-text">Indicadores de discincronía Intraventricular izquierda: </h4>
Modo M: retraso septal-PP: <b>{{ estudio.retrasoSeptalPp }} ms </b> (indicador de discincronía un valor > 130 ms).
Doppler pulsado tisular (DTcolor): valoración del tiempo al pico sistólico (Onda S) entre  septum-pared lateral <b>{{ estudio.tiempoAlPicoSistolico }} ms</b>  ( + > 65 ms)
Speckle tracking radial: valoración del tiempo al pico de deformación en segmentos opuestos: <b>{{ estudio.tiempoAlPicoDeDeformacion }} ms</b> (+ > 130 ms)

<h4  class="red-text">Indicadores de discincronía Interventricular:</h4>
La  diferencia entre los periodos preeyectivos de ambos ventrículos fue de block <b>{{ estudio.diferenciaEntreLosPeriodosPreEyectivos }} ms</b> , considerándose discincronía interventricular un valor > a 40 ms o la presencia de PPEy VI > 140 ms.

<h4  class="red-text">Indicadores de alteración en la secuencia auriculo-ventricular: </h4>
Se valoró la duración del llenado diastólico en relación a la duración total del R-R, siendo de <b>{{ estudio.duracionTotalDeRR }} %</b>, considerándose asincronía AV,  una relación < 40%, o bien la superposición delas ondas diastólicas.
</body>
