{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light blue" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_pdf' , { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id} ) }}">imprimir</b> </a>
  <br>
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">

      {% include 'estudio/datosPrincipales.html.twig' %}

      <h4  class="red-text">Indicadores de discincronía Intraventricular izquierda: </h4>
      Modo M: retraso septal-PP: <b>{{ estudio.retrasoSeptalPp }} ms </b> (indicador de discincronía un valor > 130 ms).
      Doppler pulsado tisular (DTcolor): valoración del tiempo al pico sistólico (Onda S) entre  septum-pared lateral <b>{{ estudio.tiempoAlPicoSistolico }} ms</b>  ( + > 65 ms)
      Speckle tracking radial: valoración del tiempo al pico de deformación en segmentos opuestos: <b>{{ estudio.tiempoAlPicoDeDeformacion }} ms</b> (+ > 130 ms)

      <h4  class="red-text">Indicadores de discincronía Interventricular:</h4>
      La  diferencia entre los periodos preeyectivos de ambos ventrículos fue de block <b>{{ estudio.diferenciaEntreLosPeriodosPreEyectivos }} ms</b> , considerándose discincronía interventricular un valor > a 40 ms o la presencia de PPEy VI > 140 ms.

      <h4  class="red-text">Indicadores de alteración en la secuencia auriculo-ventricular: </h4>
      Se valoró la duración del llenado diastólico en relación a la duración total del R-R, siendo de <b>{{ estudio.duracionTotalDeRR }} %</b>, considerándose asincronía AV,  una relación < 40%, o bien la superposición delas ondas diastólicas.
    </div>
  </div>
</div>
    <ul>
        <li>
          <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
        </li>
        <li>
          <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
        </li>

    </ul>
{% endblock %}
