{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorartmieminfizqs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorArtMiemInfIzq in ecoDopplerColorArtMiemInfIzqs %}
            <tr>
                <td><a href="{{ path('ecodopplercolorartmieminfizq_show', { 'id': ecoDopplerColorArtMiemInfIzq.id }) }}">{{ ecoDopplerColorArtMiemInfIzq.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorartmieminfizq_show', { 'id': ecoDopplerColorArtMiemInfIzq.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorartmieminfizq_edit', { 'id': ecoDopplerColorArtMiemInfIzq.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorartmieminfizq_new') }}">Create a new ecoDopplerColorArtMiemInfIzq</a>
        </li>
    </ul>
{% endblock %}
