{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

  <div class="container col s12 center-align" >

    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Nuevo Estudio {{ estudio.estudioConfiguracion.nombre }}</h5>
      <br>
      <a id="carot0" class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " value="carot">carot 0 </a>
      <a id="carot1" class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " >carot 1 </a>
      <a id="carot2" class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " >carot 2 </a>
      <a id="carot3" class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " >carot 3 </a>
      <a id="carot4" class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " >carot 4 </a>


    {{ form_start(form) }}
    {{ form_row(form.motivoSolicitud) }}

    {{ form_row(form.resultado , { 'id': 'resultado' } ) }}

    {{ form_row(form.conclusion) }}
        <input class="btn waves-effect waves-light red" type="submit" value="Crear" />
    {{ form_end(form) }}
    </div>
  </div>
</div>

<br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
<br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

{% endblock %}
{% block javascripts %}
{{parent()}}

  <script type="text/javascript">

window.onload = function(){
var refResultado = document.getElementById("resultado");
   var refCarot0 = document.getElementById("carot0");
   var refCarot1 = document.getElementById("carot1");
   var refCarot2 = document.getElementById("carot2");
   var refCarot3 = document.getElementById("carot3");
   var refCarot4 = document.getElementById("carot4");

    refCarot0.onclick = function() {
        refResultado.value =
        "\nSe exploraron en ambos lados del cuello, izquierda y derecha, las arterias Carótidas Común\n "+
"(CCA), Externa (ECA), Interna (ICA) y Vertebrales. \n"+
"Espesor mio-intimal (GMI) normal a nivel del segmento distal de ambas CCA, sin evidencias de placas.\n "+
"GMI derecho 0.7 mm (VR: N &lt;0.85, Aumentado: 0.9 – 1.5) \n"+
"GMI izquierdo 0.8 mm. (VR: N &lt;0.85, Aumentado: 0.9 – 1.5)\n "+
"El análisis de la onda espectral de ambos sistemas carotídeos mostró un flujo anterógrado \n"+
"laminar y velocidades dentro de límites normales. \n"+
"La onda espectral de ambas arterias vertebrales mostró flujo anterógrado con espectro de\n "+
"onda y velocidades normales. ";
    }
    refCarot1.onclick = function() {
        refResultado.value =
        "\nSe exploraron en ambos lados del cuello, izquierda y derecha, las arterias Carótidas Común\n"+
        "(CCA), Externa (ECA), Interna (ICA) y Vertebrales.\n"+
        "Se observó engrosamiento mio-intimal difuso y evidencia de pequeñas placas en ambas bifurcaciones\n"+
        "El análisis de la onda espectral de ambos sistemas carotídeos mostró un flujo anterógrado\n"+
        "con velocidades dentro de límites normales.\n"+
        "La evaluación de ambas arterias vertebrales mostró flujo anterógrado con espectro de onda";
    }
    refCarot2.onclick = function() {
        refResultado.value =
        "\n- Se exploraron en ambos lados del cuello, izquierda y derecha, las arterias Carótidas\n"+
        "Común (CCA), Externa (ECA), Interna (ICA) y Vertebrales.\n"+
        "- Se observó engrosamiento mio-intimal, hallando en origen de ambas bifurcaciones\n"+
        "carotídeas placas de densidad acústica heterogenea, predominantemente hipercoica\n"+
        "(asociada con fibrosis y calcificación), de bordes irregulares e inmóviles.\n"+
        "- El análisis de la onda espectral de ambos sistemas carotídeos mostró un flujo anterógrado\n"+
        "turbulento y velocidades dentro de límites normales.\n"+
        "- La evaluación de ambas arterias vertebrales mostró un flujo anterógrado con espectro de\n"
        "onda y velocidades normales"
    }
    refCarot3.onclick = function() {
        refResultado.value =
        "\nSe exploraron en ambos lados del cuello, izquierda y derecha, las arterias Carótidas Común (CCA), Externa\n"+
        "(ECA), Interna (ICA) y Vertebrales.\n"+
        "Se observó engrosamiento mio-intimal, hallando placas de densidad acústica heterogenea,\n"+
        "predominantemente hipercoicas (asociadas a procesos de fibrosis y calcificación) ; de bordes irregulares,\n"+
        "protuyentes e inmóviles; localizadas en su mayor parte previo ala bifurcación y en segmentos proximales de\n"+
        "ambas Carótidas Interna y Externa.\n"+
        "El análisis de la onda espectral de ambos sistemas carotídeos mostró un flujo anterógrado turbulento y\n"+
        "velocidades dentro de límites normales.\n"+
        "La evaluación de ambas arterias vertebrales mostró flujo anterógrado con espectro de onda y velocidades\n"+
        "normales."
    }
    refCarot4.onclick = function() {
        refResultado.value =
        "\nSe exploraron en ambos lados del cuello, izquierda y derecha, las arterias Carótidas Común (CCA), Externa\n"+
        "(ECA), Interna (ICA) y Vertebrales.\n"+
        "Se observó engrosamiento mio-intimal, hallando placas de densidad acústica , predominantemente fibrcálcica,\n"+
        "protuyentes de bordes irregulares, localizadas en ambas bifurcaciones y en el origen de ambas bifurcaciones y\n"+
        "en el origen de ambas carótidas Interna y Externa .\n"+
        "A nivel de se observó un flujo color policromático con onda espectral marcadamente\n"+
        "turbulenta. La velocidad pico sistólica fue estimada en cm/seg. Y una velocidad de fin de\n"+
        "diástole de cm/seg. La relación entre la velocidad pico sistólica de la carótida común\n"+
        " y carótida interna fue de\n"+
        "El resto de los segmentos arteriales evaluados mostró una onda espectral turbulenta con velocidades dentro de\n"+
        "límites normales.\n"+
        "Las arterias vertebrales presentaron flujo anterógrado basal turbulento con velocidades dentro de límites\n"+
        "normales."
    }
};

  </script>

{% endblock %}
