{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecoestres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Informe1normal</th>
                <th>Informe2normal</th>
                <th>Informerespuestaisquemica1</th>
                <th>Informe3infartosinisquemia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoEstre in ecoEstres %}
            <tr>
                <td><a href="{{ path('ecoestres_show', { 'id': ecoEstre.id }) }}">{{ ecoEstre.id }}</a></td>
                <td>{{ ecoEstre.informe1Normal }}</td>
                <td>{{ ecoEstre.informe2Normal }}</td>
                <td>{{ ecoEstre.informeRespuestaIsquemica1 }}</td>
                <td>{{ ecoEstre.informe3InfartoSinIsquemia }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecoestres_show', { 'id': ecoEstre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecoestres_edit', { 'id': ecoEstre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecoestres_new') }}">Create a new ecoEstre</a>
        </li>
    </ul>
{% endblock %}
