{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecoestre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ecoEstre.id }}</td>
            </tr>
            <tr>
                <th>Informe1normal</th>
                <td>{{ ecoEstre.informe1Normal }}</td>
            </tr>
            <tr>
                <th>Informe2normal</th>
                <td>{{ ecoEstre.informe2Normal }}</td>
            </tr>
            <tr>
                <th>Informerespuestaisquemica1</th>
                <td>{{ ecoEstre.informeRespuestaIsquemica1 }}</td>
            </tr>
            <tr>
                <th>Informe3infartosinisquemia</th>
                <td>{{ ecoEstre.informe3InfartoSinIsquemia }}</td>
            </tr>
        </tbody>
    </table>

  </div>
</div>
</div>
  <ul>
      <li>
        <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
      </li>
      <li>
        <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
      </li>
  </ul>
{% endblock %}
