{% extends 'base.html.twig' %}

{% block body %}
    <h1>Venosonormals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Venasafenainternaizq</th>
                <th>Diametrovsiizq</th>
                <th>Venasafenaexternaizq</th>
                <th>Diametrovseizq</th>
                <th>Venasafenainternader</th>
                <th>Diametrovsider</th>
                <th>Venasafenaexternader</th>
                <th>Diametrovseder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for venosoNormal in venosoNormals %}
            <tr>
                <td><a href="{{ path('venosonormal_show', { 'id': venosoNormal.id }) }}">{{ venosoNormal.id }}</a></td>
                <td>{{ venosoNormal.venaSafenaInternaIzq }}</td>
                <td>{{ venosoNormal.diametroVSIIzq }}</td>
                <td>{{ venosoNormal.venaSafenaExternaIzq }}</td>
                <td>{{ venosoNormal.diametroVSEIzq }}</td>
                <td>{{ venosoNormal.venaSafenaInternaDer }}</td>
                <td>{{ venosoNormal.diametroVSIDer }}</td>
                <td>{{ venosoNormal.venaSafenaExternaDer }}</td>
                <td>{{ venosoNormal.diametroVSEDer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('venosonormal_show', { 'id': venosoNormal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('venosonormal_edit', { 'id': venosoNormal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('venosonormal_new') }}">Create a new venosoNormal</a>
        </li>
    </ul>
{% endblock %}
