{% extends 'base.html.twig' %}

{% block body %}
    <h1>Venosonormal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ venosoNormal.id }}</td>
            </tr>
            <tr>
                <th>Venasafenainterna</th>
                <td>{{ venosoNormal.venaSafenaInterna }}</td>
            </tr>
            <tr>
                <th>Diametrovsi</th>
                <td>{{ venosoNormal.diametroVSI }}</td>
            </tr>
            <tr>
                <th>Venasafenaexterna</th>
                <td>{{ venosoNormal.venaSafenaExterna }}</td>
            </tr>
            <tr>
                <th>Diametrovse</th>
                <td>{{ venosoNormal.diametroVSE }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
  <ul>
      <li>
        <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
      </li>
      <li>
        <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
      </li>
  </ul>
{% endblock %}
