{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miembrossuperioresarterialnormals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Extensión</th>
                <th>Velocidad Picosistólica</th>
                <th>Índice de Pre Estenosis</th>
                <th>Flujos distales</th>
                <th>Estenosis</th>
                <th>Características</th>
                <th>Arteria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for miembrosSuperioresArterialNormal in miembrosSuperioresArterialNormals %}
            <tr>
                <td><a href="{{ path('miembrossuperioresarterialnormal_show', { 'id': miembrosSuperioresArterialNormal.id }) }}">{{ miembrosSuperioresArterialNormal.id }}</a></td>
                <td>{{ miembrosSuperioresArterialNormal.extension }}</td>
                <td>{{ miembrosSuperioresArterialNormal.velocidadPicoSistolica }}</td>
                <td>{{ miembrosSuperioresArterialNormal.indiceDePreEstenosis }}</td>
                <td>{{ miembrosSuperioresArterialNormal.flujosDistales }}</td>
                <td>{{ miembrosSuperioresArterialNormal.estenosis }}</td>
                <td>{{ miembrosSuperioresArterialNormal.caracteristicas }}</td>
                <td>{{ miembrosSuperioresArterialNormal.arteria }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('miembrossuperioresarterialnormal_show', { 'id': miembrosSuperioresArterialNormal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('miembrossuperioresarterialnormal_edit', { 'id': miembrosSuperioresArterialNormal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('miembrossuperioresarterialnormal_new') }}">Crear un nuevo estudio Miembros Superiores Arterial Normal</a>
        </li>
    </ul>
{% endblock %}
