{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miembrossuperioresarterialnormal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ miembrosSuperioresArterialNormal.id }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ miembrosSuperioresArterialNormal.extension }}</td>
            </tr>
            <tr>
                <th>Velocidadpicosistolica</th>
                <td>{{ miembrosSuperioresArterialNormal.velocidadPicoSistolica }}</td>
            </tr>
            <tr>
                <th>Indicedepreestenosis</th>
                <td>{{ miembrosSuperioresArterialNormal.indiceDePreEstenosis }}</td>
            </tr>
            <tr>
                <th>Flujosdistales</th>
                <td>{{ miembrosSuperioresArterialNormal.flujosDistales }}</td>
            </tr>
            <tr>
                <th>Estenosis</th>
                <td>{{ miembrosSuperioresArterialNormal.estenosis }}</td>
            </tr>
            <tr>
                <th>Caracteristicas</th>
                <td>{{ miembrosSuperioresArterialNormal.caracteristicas }}</td>
            </tr>
            <tr>
                <th>Arteria</th>
                <td>{{ miembrosSuperioresArterialNormal.arteria }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
  <ul>
      <li>
        <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
      </li>
      <li>
        <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
      </li>
  </ul>
{% endblock %}
