<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SEGC - Hospital San Martín{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('css/materialize.css') }}" rel="stylesheet"/>
          <link href="{{ asset('css/estilo.css') }}" rel="stylesheet"/>

          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

        {% endblock %}
    </head>
    <body>

      <!-- nav bar -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('grupodiagnostico_index') }}">Diagnosticos</a></li>
        <li><a href="{{ path('especialidad_index') }}">Especialidades</a></li>
        <li><a href="{{ path('motivosolicitud_index') }}">Motivos</a></li>
      </ul>
      <nav class="red lighten">
    		<div class="nav-fixed">
          <a href="/" class="brand-logo" >   <img style="background-color:white" src="/image/logo.png" alt="" height="65" width="90"></a>
          <a href="/" class="brand-logo" style="margin-left:100px"> SEGC </a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <!-- ver si tiene permiso para ver pacientes y medicos -->
              {% if is_granted('ROLE_MEDICO') %}
                <li><a href="{{ path('medico_index') }}">Médicos</a></li>
                <li><a href="{{ path('paciente_index') }}">Pacientes</a></li>
                <li><a href="{{ path('estudio_realizados') }}">Estudios Realizados</a></li>
                <li><a href="{{ path('estadisticas_index') }}">Estadísticas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Configuraciones<i class="material-icons right">arrow_drop_down</i></a></li>

              {% endif %}
                <!-- link al perfil solo si esta logueado -->
                <li><a href="/profile">Perfil {{ app.user.username }} </a> </li>
                <li>
                  <a href="{{ path('fos_user_security_logout') }}">
                      {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                  </a>
                </li>
            {% else %}
                <li>
                  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                <li>
                  <a href="/register"> Registrar </a>
                </li>
            {% endif %}

          </ul>
        </div>
      </nav>
      <!-- nav bar -->


        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
            <div class="row" id="alert_box">
              <div class="col s12 m12">
                {% if type == 'mensaje' or type == 'success' %}
                  <div class="card-panel white-text  teal  light-green accent-3" style="padding:5px">
                    <div class="row" style="padding:0px; margin:0px;">
                        <div class="col s12 m11">
                          <i class="material-icons ">check</i>
                {% else %}
                  {% if type == 'error' %}
                  <div class="card-panel white-text pulse teal  red darken-1" style="padding:5px">
                    <div class="row" style="padding:0px; margin:0px;">
                      <div class="col s12 m11">
                        <i class="material-icons">warning</i>
                  {% else %}
                  <div class="card-panel white-text pulse teal blue lighten-4" style="padding:5px">
                    <div class="row" style="padding:0px; margin:0px;">
                      <div class="col s12 m11">
                  {% endif %}
                {% endif %}


                {% for message in messages %}
                        {{ message|trans({}, 'FOSUserBundle') }}
                {% endfor %}

                            </div>
                        <div class=" col s12 m1 " style="text-align:left;">
                          <i class="material-icons icon_style" id="alert_close" aria-hidden="true">close</i>
                        </div>
                   </div>
                   </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}

        <div>
          {% block body %}
          {% block fos_user_content %}{% endblock %}
          {% endblock %}
        </div>



        <footer class="page-footer red lighten-1" style="margin-top:50px;">
          <div class="footer-copyright red lighten">
            <div class="container">
              Hospital  San Martín.
              <a class="grey-text text-lighten-4 right">Sistema de Gestión de Estudios Cardiológicos Ingeniería de Software Aplicada 2018</a>
            </div>
          </div>
        </footer>

        {% block javascripts %}
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
          <script type="text/javascript" src="{{ asset('js/funciones.js') }}"></script>

        {% endblock %}
    </body>

</html>
