{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodoppcolorartmiemsups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDoppColorArtMiemSup in ecoDoppColorArtMiemSups %}
            <tr>
                <td><a href="{{ path('ecodoppcolorartmiemsup_show', { 'id': ecoDoppColorArtMiemSup.id }) }}">{{ ecoDoppColorArtMiemSup.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodoppcolorartmiemsup_show', { 'id': ecoDoppColorArtMiemSup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodoppcolorartmiemsup_edit', { 'id': ecoDoppColorArtMiemSup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodoppcolorartmiemsup_new') }}">Create a new ecoDoppColorArtMiemSup</a>
        </li>
    </ul>
{% endblock %}
