<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>
{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}
    <p>  Se exploraron en ambos miembros inferiores, visualizando las arterias femoral común, femoral</p>
      <p>superficial, femoral profunda, poplitea y tibiales anterior y posterior.</p>
      <table style="width:25%">
       <tbody>
         <tr>
           <td><h5 class="red-text">LADO IZQUIERDO:</h5></td>
         </tr>
           <tr>
               <th>Arteria femoral común:</th>
               <td>{{ estudio.arteriafemoralComunIzq }}</td>
           </tr>
           <tr>
               <th>Arteria femoral superficial:</th>
               <td>{{ estudio.arteriaFemoralSuperficialIzq }}</td>
           </tr>
           <tr>
               <th>Arteria poplitea:</th>
               <td>{{ estudio.arteriaPopliteaIzq }}</td>
           </tr>
           <tr>
               <th>Arteria tibial anterior:</th>
               <td>{{ estudio.arteriaTibialAnteriorIzq }}</td>
           </tr>
           <tr>
               <th>Arteria tibial posterior:</th>
               <td>{{ estudio.arteriaTibialPosteriorIzq }}</td>
           </tr>
           <tr>
             <td><h5 class="red-text">LADO DERECHO:</h5></td>
           </tr>
           <tr>
               <th>Arteria femoral común:</th>
               <td>{{ estudio.arteriafemoralComunDer }}</td>
           </tr>
           <tr>
               <th>Arteria femoral superficial:</th>
               <td>{{ estudio.arteriaFemoralSuperficialDer }}</td>
           </tr>
           <tr>
               <th>Arteria poplitea:</th>
               <td>{{ estudio.arteriaPopliteaDer }}</td>
           </tr>
           <tr>
               <th>Arteria tibial anterior:</th>
               <td>{{ estudio.arteriaTibialAnteriorDer }}</td>
           </tr>
           <tr>
               <th>Arteria tibial posterior:</th>
               <td>{{ estudio.arteriaTibialPosteriorDer }}</td>
           </tr>
       </tbody>
   </table>
    </div>
  </div>
</div>
</body>
