{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorarterialdemiembros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Arteriafemoralcomunizq</th>
                <th>Arteriafemoralsuperficializq</th>
                <th>Arteriapopliteaizq</th>
                <th>Arteriatibialanteriorizq</th>
                <th>Arteriatibialposteriorizq</th>
                <th>Arteriafemoralcomunder</th>
                <th>Arteriafemoralsuperficialder</th>
                <th>Arteriapopliteader</th>
                <th>Arteriatibialanteriorder</th>
                <th>Arteriatibialposteriorder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorArterialDeMiembro in ecoDopplerColorArterialDeMiembros %}
            <tr>
                <td><a href="{{ path('ecodopplercolorarterialdemiembros_show', { 'id': ecoDopplerColorArterialDeMiembro.id }) }}">{{ ecoDopplerColorArterialDeMiembro.id }}</a></td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriafemoralComunIzq }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaFemoralSuperficialIzq }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaPopliteaIzq }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaTibialAnteriorIzq }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaTibialPosteriorIzq }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriafemoralComunDer }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaFemoralSuperficialDer }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaPopliteaDer }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaTibialAnteriorDer }}</td>
                <td>{{ ecoDopplerColorArterialDeMiembro.arteriaTibialPosteriorDer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorarterialdemiembros_show', { 'id': ecoDopplerColorArterialDeMiembro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorarterialdemiembros_edit', { 'id': ecoDopplerColorArterialDeMiembro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorarterialdemiembros_new') }}">Create a new ecoDopplerColorArterialDeMiembro</a>
        </li>
    </ul>
{% endblock %}
