{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light blue" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_pdf' , { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id} ) }}">imprimir</b> </a>
  <br>
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">

      <h3  class="red-text"> Estudio {{ estudio.estudioConfiguracion.nombre }}</h3>

      <h4  class="red-text"> Datos del Medico </h4>
      <table style="width:25%;">
        <tr>
          <td><b>Nombre: </b></td>
          <td>{{ medico.nombre }}</td>
        </tr>
        <tr>
          <td><b>Apellido: </b></td>
          <td>{{ medico.apellido }}</td>
        </tr>
      </table>


      <h4  class="red-text"> Datos del Paciente </h4>
      <table style="width:25%;">
        <tr>
          <td><b>Nombre: </b></td>
          <td>{{ paciente.nombre }}</td>
        </tr>
        <tr>
          <td><b>Apellido: </b></td>
          <td>{{ paciente.apellido }}</td>
        </tr>
        <tr>
          <td><b>Dni: </b></td>
          <td>{{ paciente.dni }}</td>
        </tr>
        <tr>
          <td><b>Dirección: </b></td>
          <td>{{ paciente.direccion }}</td>
        </tr>
        <tr>
          <td><b>Sexo: </b></td>
          <td>{{ paciente.sexo }}</td>
        </tr>
        <tr>
          <td><b>Nacionalidad: </b></td>
          <td>{{ paciente.nacionalidad }}</td>
        </tr>
        <tr>
          <td><b>Localidad: </b></td>
          <td>{{ paciente.localidad }}</td>
        </tr>
        <tr>
          <td><b>Fecha de Nacimiento: </b></td>
          <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
          <td><b>Obra Social: </b></td>
          <td>{{ paciente.obraSocial }}</td>
        </tr>
        <tr>
          <td><b>Fecha de Ingreso: </b></td>
          <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
        </tr>
      </table>

      <h4  class="red-text"> Datos del Estudio </h4>
      <table style="width:25%;">
        <tbody>

            <tr>
                <th>Conclusion</th>
                <td>{{ estudio.conclusion }}</td>
            </tr>
            <tr>
                <th>Fecha alta</th>
                <td>{% if estudio.fechaAlta %}{{ estudio.fechaAlta|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{   estudio.resultado  }}</td>
            </tr>
        </tbody>
    </table>
    <p>  Se exploraron en ambos miembros inferiores, visualizando las arterias femoral común, femoral</p>
      <p>superficial, femoral profunda, poplitea y tibiales anterior y posterior.</p>
    <table style="width:25%">
       <tbody>
         <tr>
           <td><h5 class="red-text">LADO IZQUIERDO:</h5></td>
         </tr>
           <tr>
               <th>Arteria femoral común:</th>
               <td>{{ estudio.arteriafemoralComunIzq }}</td>
           </tr>
           <tr>
               <th>Arteria femoral superficial:</th>
               <td>{{ estudio.arteriaFemoralSuperficialIzq }}</td>
           </tr>
           <tr>
               <th>Arteria poplitea:</th>
               <td>{{ estudio.arteriaPopliteaIzq }}</td>
           </tr>
           <tr>
               <th>Arteria tibial anterior:</th>
               <td>{{ estudio.arteriaTibialAnteriorIzq }}</td>
           </tr>
           <tr>
               <th>Arteria tibial posterior:</th>
               <td>{{ estudio.arteriaTibialPosteriorIzq }}</td>
           </tr>
           <tr>
             <td><h5 class="red-text">LADO DERECHO:</h5></td>
           </tr>
           <tr>
               <th>Arteria femoral común:</th>
               <td>{{ estudio.arteriafemoralComunDer }}</td>
           </tr>
           <tr>
               <th>Arteria femoral superficial:</th>
               <td>{{ estudio.arteriaFemoralSuperficialDer }}</td>
           </tr>
           <tr>
               <th>Arteria poplitea:</th>
               <td>{{ estudio.arteriaPopliteaDer }}</td>
           </tr>
           <tr>
               <th>Arteria tibial anterior:</th>
               <td>{{ estudio.arteriaTibialAnteriorDer }}</td>
           </tr>
           <tr>
               <th>Arteria tibial posterior:</th>
               <td>{{ estudio.arteriaTibialPosteriorDer }}</td>
           </tr>
       </tbody>
   </table>

    </div>
  </div>
</div>
    <ul>
        <li>
          <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
        </li>
        <li>
          <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
        </li>

    </ul>
{% endblock %}
