<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>

{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}

<table style="width:50%;   border: 1px solid black;">

    Tabla 1: Valores Bidimensionales
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Ddvi</td>
        <td>{{ estudio.ddvi }}</td>
        <td>Alarea</td>
        <td>{{ estudio.alArea }}</td>
      </tr>
      <tr>
        <td>Dsvi</td>
        <td>{{ estudio.dsvi }}</td>
        <td>Alvol</td>
        <td>{{ estudio.alVol }}</td>
      </tr>
      <tr>
        <td>Siv</td>
        <td>{{ estudio.siv }}</td>
        <td>Aorta</td>
        <td>{{ estudio.aorta }}</td>
      </tr>
      <tr>
        <td>Pp</td>
        <td>{{ estudio.pp }}</td>
        <td>Apvao</td>
        <td>{{ estudio.apVao }}</td>
      </tr>
      <tr>
        <td>Fey</td>
        <td>{{ estudio.fey }}</td>
        <td>Tsvi</td>
        <td>{{ estudio.tsvi }}</td>
      </tr>
    </tbody>
  </table>

<br><br>
  Tabla 2: Valores Doppel
  <table style="width:75%;   border: 1px solid black;">
    <tr>
      <td>Velmaxao</td>
      <td>{{ estudio.velMaxAo }}</td>
      <td>Velondae</td>
      <td>{{ estudio.velOndaE }}</td>
      <td>Velmaxpulmonar</td>
      <td>{{ estudio.velMaxPulmonar }}</td>
      <td>Insuficienciatricuspide</td>
      <td>{{ estudio.insuficienciaTricuspide }}</td>
    </tr>
    <tr>
      <td>Gradmaxao</td>
      <td>{{ estudio.gradMaxAo }}</td>
      <td>Velondaa</td>
      <td>{{ estudio.velOndaA }}</td>
      <td>Gradmaxpulomonar</td>
      <td>{{ estudio.gradMaxPulomonar }}</td>
      <td>Velregurgitante</td>
      <td>{{ estudio.velRegurgitante }}</td>
    </tr>
    <tr>
      <td>Gradmedao</td>
      <td>{{ estudio.gradMedAo }}</td>
      <td>Gradmedioatrasmitral</td>
      <td>{{ estudio.gradMedioaTrasmitral }}</td>
      <td>Insuficiencia_pulmonar</td>
      <td>{{ estudio.insuficienciapulmonar }}</td>
      <td>Gradpico</td>
      <td>{{ estudio.gradPico }}</td>
    </tr>
    <tr>
      <td>Insuficiencia</td>
      <td>{{ estudio.insuficiencia }}</td>
      <td>Insuficiencia Trasmitral</td>
      <td>{{ estudio.insuficienciaTrasmitral }}</td>
      <td>Tpopico</td>
      <td>{{ estudio.tpoPico }}</td>
      <td>Pap</td>
      <td>{{ estudio.pap }}</td>
    </tr>
    <tr>
      <td>Thp</td>
      <td>{{ estudio.thp }}</td>
      <td>Ore</td>
      <td>{{ estudio.ore }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Adt</td>
      <td>{{ estudio.adt }}</td>
      <td>Volregurgitante</td>
      <td>{{ estudio.volRegurgitante }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Aa</td>
      <td>{{ estudio.aa }}</td>
      <td>Dpdt</td>
      <td>{{ estudio.dpdt }}</td>
      <td>Qpqs</td>
      <td>{{ estudio.qpqs }}</td>
      <td>Pad</td>
      <td>{{ estudio.pad }}</td>
    </tr>
  </table>
<br><br>
  Tabla 3: Valores Doppler Tisular
  <table style="width:50%;   border: 1px solid black;">
    <tr>
      <td>Onda s septal</td>
      <td>{{ estudio.ondaSeptal }}</td>
      <td>Onda s vd</td>
      <td>{{ estudio.ondaVd }}</td>
    </tr>
    <tr>
      <td>Onda s lateral</td>
      <td>{{ estudio.ondaLateral }}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Onda e</td>
      <td>{{ estudio.ondaE }}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Onda a</td>
      <td>{{ estudio.ondaA }}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Relación e/e</td>
      <td>{{ estudio.relacionE }}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
<br><br>

  <p class="red-text  "> VENTRÍCULO IZQUIERDO </p>
  {% if estudio.ventriculoIzqL1 %}{{ estudio.ventriculoIzqL1|join(', \n')|nl2br }}{% endif %}<br><br>
  {% if estudio.ventriculoIzqL2 %}{{ estudio.ventriculoIzqL2|join(', \n')|nl2br }}{% endif %}<br><br>
  {% if estudio.ventriculoIzqL3 %}{{ estudio.ventriculoIzqL3|join(', \n')|nl2br }}{% endif %}<br><br>
  IMVI (g/m2 de SC): {{ estudio.ventriculoIzqL1Imvi }} EPR: {{ estudio.ventriculoIzqL1Epr }} <br><br>
  {{ estudio.ventriculoIzqL4C1 }}<br>

        <p class="red-text  "> RAÍZ DE AORTA: </p>
        {% if estudio.raizAortaL1 %}{{ estudio.raizAortaL1|join(', \n')|nl2br }}{% endif %}<br><br>

      <p class="red-text  "> AORTA: </p>
       {% if estudio.aortaL1 %}{{ estudio.aortaL1|join(', \n')|nl2br }}{% endif %}<br><br>
       {% if estudio.aortaL2 %}{{ estudio.aortaL2|join(', \n')|nl2br }}{% endif %}<br><br>
       {% if estudio.aortaL3 %}{{ estudio.aortaL3|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  "> VÁLVULA MITRAL:</p>

       {% if estudio.valvulaMitralL1 %}{{ estudio.valvulaMitralL1|join(', \n')|nl2br }}{% endif %}<br><br>
       {% if estudio.valvulaMitralL2 %}{{ estudio.valvulaMitralL2|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  ">AURÍCULA IZQUIERDA </p>
       {% if estudio.auriculaIzqL1 %}{{ estudio.auriculaIzqL1|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  ">VÁLVULA PULMONAR </p>
       {% if estudio.valvulaPulmonarL1 %}{{ estudio.valvulaPulmonarL1|join(', \n')|nl2br }}{% endif %}<br><br>
       {% if estudio.valvulaPulmonarL2 %}{{ estudio.valvulaPulmonarL2|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  ">VÁLVULA TRICUSPIDE </p>
       {% if estudio.valvulatricuspideL1 %}{{ estudio.valvulatricuspideL1|join(', \n')|nl2br }}{% endif %}<br><br>
       {% if estudio.valvulatricuspideL2 %}{{ estudio.valvulatricuspideL2|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  "> CAVIDADES DERECHAS:</p>
       {% if estudio.cavidadDerechaL1 %}{{ estudio.cavidadDerechaL1|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  ">VENA CAVA INFERIOR </p>
       {% if estudio.venaCavaInferiorL1 %}{{ estudio.venaCavaInferiorL1|join(', \n')|nl2br }}{% endif %}<br><br>

        <p class="red-text  "> PERICARDIO</p>
       {% if estudio.pericardioL1 %}{{ estudio.pericardioL1|join(', \n')|nl2br }}{% endif %}<br><br>
