{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Nuevo Estudio {{ estudio.estudioConfiguracion.nombre }}</h5>
    {{ form_start(form) }}

    {{ form_row(form.motivoSolicitud) }}

    {{ form_row(form.resultado) }}

    {{ form_row(form.conclusion) }}

    <table style="width:50%;   border: 1px solid black;">

<h6 class="red-text">Tabla 1: Valores Bidimensionales</h6>
      <thead>
      </thead>
      <tbody>
        <tr height"10">
          <td> {{ form_row(form.ddvi) }}{{ form_row(form.dsvi) }}{{ form_row(form.siv) }} {{ form_row(form.pp) }}{{ form_row(form.fey) }}</td>
          <td>{{ form_row(form.alArea) }} {{ form_row(form.alVol) }} {{ form_row(form.aorta) }}{{ form_row(form.apVao) }}{{ form_row(form.tsvi) }}</td>
        </tr>
      </tbody>
    </table>
<h6 class="red-text">Tabla 2: Valores Doppel</h6>

    <table style="width:75%;   border: 1px solid black;">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> {{ form_row(form.velMaxAo) }}</td>
          <td>{{ form_row(form.velOndaE) }} </td>
          <td> {{ form_row(form.velMaxPulmonar) }}</td>
          <td>{{ form_row(form.insuficienciaTricuspide) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.gradMaxAo) }}</td>
          <td>{{ form_row(form.velOndaA) }} </td>
          <td> {{ form_row(form.gradMaxPulomonar) }}</td>
          <td>{{ form_row(form.velRegurgitante) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.gradMedAo) }}</td>
          <td>{{ form_row(form.gradMedioaTrasmitral) }} </td>
          <td> {{ form_row(form.insuficiencia_pulmonar) }}</td>
          <td>{{ form_row(form.gradPico) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.insuficiencia) }}</td>
          <td>{{ form_row(form.insuficienciaTrasmitral) }} </td>
          <td> {{ form_row(form.tpoPico) }}</td>
          <td>{{ form_row(form.pap) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.thp) }}</td>
          <td>{{ form_row(form.ore) }} </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> {{ form_row(form.adt) }}</td>
          <td>{{ form_row(form.volRegurgitante) }} </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td> {{ form_row(form.aa) }}</td>
          <td>{{ form_row(form.dpdt) }} </td>
          <td> {{ form_row(form.qpqs) }}</td>
          <td>{{ form_row(form.pad) }} </td>
        </tr>

      </tbody>
    </table>

    <h6 class="red-text">Tabla 3: Valores Doppler Tisular</h6>
    <table style="width:50%;   border: 1px solid black;">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> {{ form_row(form.ondaSeptal) }}</td>
          <td>{{ form_row(form.ondaLateral) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.ondaE) }}</td>
          <td>{{ form_row(form.ondaA) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.relacionE) }}</td>
          <td>{{ form_row(form.ondaVd) }} </td>
        </tr>

      </tbody>
    </table>

    <p class="red-text  "> VENTRÍCULO IZQUIERDO </p>
    {{ form_row(form.ventriculoIzqL1) }}
    {{ form_row(form.ventriculoIzqL2) }}
    {{ form_row(form.ventriculoIzqL3) }}
    <table style="width:50%;   ">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> IMVI (g/m2 de SC): </td>
          <td> {{ form_row(form.ventriculoIzqL1Imvi) }} </td>
          <td>EPR:</td>
          <td>  {{ form_row(form.ventriculoIzqL1Epr) }} </td>
        </tr>
      </tbody>
    </table>

        En condiciones de reposo <br>
        {{ form_row(form.ventriculoIzqL4C1) }}

<p class="red-text  "> RAÍZ DE AORTA: </p>
{{ form_row(form.raizAortaL1, { 'id': 'raizAortaL1' } ) }}
{{ form_row(form.raizAortaL1Libre , { 'id': 'raizAortaL1Libre' } ) }}
{{ form_row(form.raizAortaL1c2 , { 'id': 'raizAortaL1c2' } ) }}
{{ form_row(form.raizAortaL1c1 , { 'id': 'raizAortaL1c1' } ) }}

<p class="red-text  "> AORTA: </p>
{{ form_row(form.aortaL1, { 'id': 'aortaL1' } ) }}
{{ form_row(form.aortaL1Libre , { 'id': 'aortaL1Libre' } ) }}

{{ form_row(form.aortaL2, { 'id': 'aortaL2' } ) }}
{{ form_row(form.aortaL2c2 , { 'id': 'aortaL2c2' } ) }}
{{ form_row(form.aortaL2c1 , { 'id': 'aortaL2c1' } ) }}

{{ form_row(form.aortaL3, { 'id': 'aortaL3' } ) }}
{{ form_row(form.aortaL3Libre , { 'id': 'aortaL3Libre' } ) }}

<p class="red-text  "> VÁLVULA MITRAL:</p>
{{ form_row(form.valvulaMitralL1, { 'id': 'valvulaMitralL1' } ) }}
{{ form_row(form.valvulaMitralL1Libre , { 'id': 'valvulaMitralL1Libre' } ) }}
{{ form_row(form.valvulaMitralL2, { 'id': 'valvulaMitralL2' } ) }}
{{ form_row(form.valvulaMitralL2Libre , { 'id': 'valvulaMitralL2Libre' } ) }}

<p class="red-text  ">AURÍCULA IZQUIERDA </p>
{{ form_row(form.auriculaIzqL1, { 'id': 'auriculaIzqL1' } ) }}
{{ form_row(form.auriculaIzqL1Libre , { 'id': 'auriculaIzqL1Libre' } ) }}

<p class="red-text  ">VÁLVULA PULMONAR </p>
{{ form_row(form.valvulaPulmonarL1, { 'id': 'valvulaPulmonarL1' } ) }}
{{ form_row(form.valvulaPulmonarL1Libre , { 'id': 'valvulaPulmonarL1Libre' } ) }}
{{ form_row(form.valvulaPulmonarL2, { 'id': 'valvulaPulmonarL2' } ) }}
{{ form_row(form.valvulaPulmonarL2Libre , { 'id': 'valvulaPulmonarL2Libre' } ) }}

<p class="red-text  ">VÁLVULA TRICUSPIDE </p>
{{ form_row(form.valvulatricuspideL1, { 'id': 'valvulatricuspideL1' } ) }}
{{ form_row(form.valvulatricuspideL1Libre , { 'id': 'valvulatricuspideL1Libre' } ) }}
{{ form_row(form.valvulatricuspideL1c1 , { 'id': 'valvulatricuspideL1c1' } ) }}

{{ form_row(form.valvulatricuspideL2, { 'id': 'valvulatricuspideL2' } ) }}
{{ form_row(form.valvulatricuspideL2Libre , { 'id': 'valvulatricuspideL2Libre' } ) }}

<p class="red-text  "> CAVIDADES DERECHAS:</p>
{{ form_row(form.cavidadDerechaL1, { 'id': 'cavidadDerechaL1' } ) }}
{{ form_row(form.cavidadDerechaL1c1, { 'id': 'cavidadDerechaL1c1' } ) }}
{{ form_row(form.cavidadDerechaL1c2, { 'id': 'cavidadDerechaL1c2' } ) }}
{{ form_row(form.cavidadDerechaL1c3, { 'id': 'cavidadDerechaL1c3' } ) }}
{{ form_row(form.cavidadDerechaL1c4, { 'id': 'cavidadDerechaL1c4' } ) }}
{{ form_row(form.cavidadDerechaL1c5, { 'id': 'cavidadDerechaL1c5' } ) }}
{{ form_row(form.cavidadDerechaL1c6, { 'id': 'cavidadDerechaL1c6' } ) }}
{{ form_row(form.cavidadDerechaL1Libre, { 'id': 'cavidadDerechaL1Libre' } ) }}

<p class="red-text  ">VENA CAVA INFERIOR </p>
{{ form_row(form.venaCavaInferiorL1) }}

<p class="red-text  "> PERICARDIO</p>
{{ form_row(form.pericardioL1, { 'id': 'pericardioL1' } ) }}
{{ form_row(form.pericardioL1Libre, { 'id': 'pericardioL1Libre' } ) }}

<h6 class="red-text">Configuración</h6>
{{ form_row(form.grupoDiagnostico) }}
{{ form_row(form.internacion) }}

<input class="btn waves-effect waves-light red" type="submit" value="Crear" />
    {{ form_end(form) }}
  </div>
</div>
</div>
<br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
<br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
$(document).ready(function() {
  // descubre los campos seleccionados
  function selectAttHidden(selectId,campos,textos){
    $(selectId).on('change', function () {
      var value = $(selectId).val();
      for (i = 0; i < campos.length; i++){
        var ref = document.getElementById(campos[i]);
        if ( jQuery.inArray(textos[i], value) !== -1){
          ref.setAttribute("type", "text");
        }else {
          ref.setAttribute("type", "hidden");
        }
      }
    }).material_select();
    return 0;
  }

  var campos = [
    "raizAortaL1Libre",
    "raizAortaL1c1",
    "raizAortaL1c2"
  ];
  var textos = [
    "%libre%",
    "%c1%",
    "%c2%"
  ];
  var selectId = "#raizAortaL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "aortaL1Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#aortaL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "aortaL2c1",
    "aortaL2c2"
  ];
  var textos = [
    "%c1%",
    "%c2%"
  ];
  var selectId = "#aortaL2";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "aortaL3Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#aortaL3";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulaMitralL1Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#valvulaMitralL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulaMitralL2Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#valvulaMitralL2";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "auriculaIzqL1Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#auriculaIzqL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulaPulmonarL1Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#valvulaPulmonarL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulaPulmonarL2Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#valvulaPulmonarL2";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulatricuspideL1Libre",
    "valvulatricuspideL1c1"
  ];
  var textos = [
    "%libre%",
    "%c1%"
  ];
  var selectId = "#valvulatricuspideL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "valvulatricuspideL2Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#valvulatricuspideL2";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "cavidadDerechaL1c1",
    "cavidadDerechaL1c2",
    "cavidadDerechaL1c3",
    "cavidadDerechaL1c4",
    "cavidadDerechaL1c5",
    "cavidadDerechaL1c6",
    "cavidadDerechaL1Libre"
  ];
  var textos = [
    "%c1%",
    "%c2%",
    "%c3%",
    "%c4%",
    "%c5%",
    "%c6%",
    "%libre%"
  ];
  var selectId = "#cavidadDerechaL1";
  selectAttHidden(selectId,campos,textos);

  var campos = [
    "pericardioL1Libre"
  ];
  var textos = [
    "%libre%"
  ];
  var selectId = "#pericardioL1";
  selectAttHidden(selectId,campos,textos);

});


  $(document).ready(function() {
    var x = document.getElementsByClassName("row");
    var i;
    for (i = 0; i < x.length; i++) {
      x[i].style.marginBottom = "0px";
    }
  });

  $(document).ready(function() {
    var last_valid_selection = null;
    $('.3opciones').change(function(event) {
      if ($(this).val().length > 3) {
        alert('puedes seleccionar solo 3 opciones');
        $(this).val(last_valid_selection);
      } else {
        last_valid_selection = $(this).val();
      }
    });
  });

  $(document).ready(function() {
    var last_valid_selection = null;
    $('.2opciones').change(function(event) {
      if ($(this).val().length > 2) {
        alert('puedes seleccionar solo 2 opciones');
        $(this).val(last_valid_selection);
      } else {
        last_valid_selection = $(this).val();
      }
    });
  });

  $(document).ready(function() {
    var last_valid_selection = null;
    $('.1opcion').change(function(event) {
      if ($(this).val().length > 1) {
        alert('puedes seleccionar solo 1 opcion');
        $(this).val(last_valid_selection);
      } else {
        last_valid_selection = $(this).val();
      }
    });
  });
</script>

      {% endblock %}
