{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Nuevo Estudio {{ estudio.estudioConfiguracion.nombre }}</h5>


    {{ form_start(form) }}

    {{ form_row(form.motivoSolicitud) }}

    {{ form_row(form.resultado) }}

    {{ form_row(form.conclusion) }}

    {{ form_row(form.situs) }}
    {{ form_row(form.conexionAuriculoventricular) }}
    {{ form_row(form.conexionVentriculoArterial) }}

    <table style="width:50%;   border: 1px solid black;">
      tabla 1: valores bidimensionales

      <thead>
      </thead>
      <tbody>
        <tr height"10">
          <td> {{ form_row(form.ddvi) }}{{ form_row(form.dsvi) }}{{ form_row(form.siv) }} {{ form_row(form.pp) }}{{ form_row(form.fey) }}</td>
          <td>{{ form_row(form.alArea) }} {{ form_row(form.alVol) }} {{ form_row(form.aorta) }}{{ form_row(form.apVao) }}{{ form_row(form.tsvi) }}</td>
        </tr>
      </tbody>
    </table>

    tabla 2: Valores Doppel
    <table style="width:75%;   border: 1px solid black;">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> {{ form_row(form.velMaxAo) }}</td>
          <td>{{ form_row(form.velOndaE) }} </td>
          <td> {{ form_row(form.velMaxPulmonar) }}</td>
          <td>{{ form_row(form.insuficienciaTricuspide) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.gradMaxAo) }}</td>
          <td>{{ form_row(form.velOndaA) }} </td>
          <td> {{ form_row(form.gradMaxPulomonar) }}</td>
          <td>{{ form_row(form.velRegurgitante) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.gradMedAo) }}</td>
          <td>{{ form_row(form.gradMedioaTrasmitral) }} </td>
          <td> {{ form_row(form.insuficiencia_pulmonar) }}</td>
          <td>{{ form_row(form.gradPico) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.insuficiencia) }}</td>
          <td>{{ form_row(form.insuficienciaTrasmitral) }} </td>
          <td> {{ form_row(form.tpoPico) }}</td>
          <td>{{ form_row(form.pap) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.thp) }}</td>
          <td>{{ form_row(form.ore) }} </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> {{ form_row(form.adt) }}</td>
          <td>{{ form_row(form.volRegurgitante) }} </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td> {{ form_row(form.aa) }}</td>
          <td>{{ form_row(form.dpdt) }} </td>
          <td> {{ form_row(form.qpqs) }}</td>
          <td>{{ form_row(form.pad) }} </td>
        </tr>

      </tbody>
    </table>

    tabla 3: Valores Doppler Tisular
    <table style="width:50%;   border: 1px solid black;">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> {{ form_row(form.ondaSeptal) }}</td>
          <td>{{ form_row(form.ondaLateral) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.ondaE) }}</td>
          <td>{{ form_row(form.ondaA) }} </td>
        </tr>
        <tr>
          <td> {{ form_row(form.relacionE) }}</td>
          <td>{{ form_row(form.ondaVd) }} </td>
        </tr>

      </tbody>
    </table>

    <p class="red-text  "> VENTRICULO IZQUIERDO </p>
    {{ form_row(form.ventriculoIzqL1) }}
    {{ form_row(form.ventriculoIzqL2) }}
    {{ form_row(form.ventriculoIzqL3) }}
    <table style="width:50%;   ">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td> IMVI (g/m2 de SC): </td>
          <td> {{ form_row(form.ventriculoIzqL1Imvi) }} </td>
          <td>EPR:</td>
          <td>  {{ form_row(form.ventriculoIzqL1Epr) }} </td>
        </tr>
      </tbody>
    </table>

        En condiciones de reposo <br>
        {{ form_row(form.ventriculoIzqL4C1) }}

<p class="red-text  "> RAIZ DE AORTA: </p>
{{ form_row(form.raizAortaL1) }}

<p class="red-text  "> AORTA: </p>
{{ form_row(form.aortaL1) }}
{{ form_row(form.aortaL2) }}
{{ form_row(form.aortaL3) }}

<p class="red-text  "> VALVULA MITRAL:</p>
{{ form_row(form.valvulaMitralL1) }}
{{ form_row(form.valvulaMitralL2) }}

<p class="red-text  ">AURICULA IZQUIERDA </p>
{{ form_row(form.auriculaIzqL1) }}

<p class="red-text  ">VALVULA PULMONAR </p>
{{ form_row(form.valvulaPulmonarL1) }}
{{ form_row(form.valvulaPulmonarL2) }}

<p class="red-text  ">VALVULA TRICUSPIDE </p>
{{ form_row(form.valvulatricuspideL1) }}
{{ form_row(form.valvulatricuspideL2) }}

<p class="red-text  "> CAVIDADES DERECHAS:</p>


<table >

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C1c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C1) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C2c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C2) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C3c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C3) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C4c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C4) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C5c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C5) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C6c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C6) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C7c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C7) }}</td>
  </tr>

  <tr>
    <td>{{ form_row(form.cavidadDerechaL1C8c) }}</td>
    <td>{{ form_row(form.cavidadDerechaL1C8) }}</td>
  </tr>


</table>


<p class="red-text  ">VENA CAVA INFERIOR </p>
{{ form_row(form.venaCavaInferiorL1) }}

<p class="red-text  "> PERICARDIO</p>
{{ form_row(form.pericardioL1) }}

<p class="red-text  "> CONCLUSIONES</p>
{{ form_row(form.conclusionL1) }}

<input class="btn waves-effect waves-light red" type="submit" value="Crear" />
    {{ form_end(form) }}
  </div>
</div>
</div>
<br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
<br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
$(document).ready(function() {
          var last_valid_selection = null;
          $('.3opciones').change(function(event) {
            if ($(this).val().length > 3) {
              alert('puedes seleccionar solo 3 opciones');
              $(this).val(last_valid_selection);
            } else {
              last_valid_selection = $(this).val();
            }
          });
        });
        $(document).ready(function() {
                  var last_valid_selection = null;
                  $('.2opciones').change(function(event) {
                    if ($(this).val().length > 2) {
                      alert('puedes seleccionar solo 2 opciones');
                      $(this).val(last_valid_selection);
                    } else {
                      last_valid_selection = $(this).val();
                    }
                  });
                });
                $(document).ready(function() {
                          var last_valid_selection = null;
                          $('.1opcion').change(function(event) {
                            if ($(this).val().length > 1) {
                              alert('puedes seleccionar solo 1 opcion');
                              $(this).val(last_valid_selection);
                            } else {
                              last_valid_selection = $(this).val();
                            }
                          });
                        });
                </script>

      {% endblock %}
