<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>
{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}
      <p class="red-text">Miembro inferior derecho</p>

<b>Arteria femoral común:</b> {{ estudio.arteriaFemoralComunDer }}<br>
<b>Arteria femoral superficial:</b>  {{ estudio.arteriaFemoralSuperficialDer }}<br>
<b>Arteria poplitea:</b>  {{ estudio.arteriaPopliteaDer }}<br>
<b>Arteria tibial anterior:</b>  {{ estudio.arteriaTibialAnteriorDer }}<br>
<b>Arteria tibial posterior:</b>  {{ estudio.arteriaTibialPosteriorDer }}<br>
<b>Arteria peronea:</b>  {{ estudio.arteriaPeroneaDer }}<br>

  <p class="red-text">Miembro inferior izquierdo</p>
  <b>Arteria femoral común:</b>  {{ estudio.arteriaFemoralComunIzq }}<br>
  <b>Arteria femoral superficial:</b>  {{ estudio.arteriaFemoralSuperficialIzq }}<br>
  <b>Arteria poplitea:</b>  {{ estudio.arteriaPopliteaIzq }}<br>
  <b>Arteria tibial anterior:</b>  {{ estudio.arteriaTibialAnteriorIzq }}<br>
  <b>Arteria tibial posterior: </b> {{ estudio.arteriaTibialPosteriorIzq }}<br>
  <b>Arteria peronea: </b> {{ estudio.arteriaPeroneaIzq }}<br>
