{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miembrosinferioresarterialpatologicos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Extensión</th>
                <th>Velocidades</th>
                <th>Indice Pre Estenosis</th>
                <th>Arteria femoral común</th>
                <th>Arteria femoral superficial</th>
                <th>Arteria poplitea</th>
                <th>Arteria tibial anterior</th>
                <th>Arteria tibial posterior</th>
                <th>Arteria peronea</th>
                <th>Arteria</th>
                <th>Flujos distales</th>
                <th>Circulación colateral</th>
                <th>Indice tobillo brazo derecho</th>
                <th>Indice tobillo brazo izquierdo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for miembrosInferioresArterialPatologico in miembrosInferioresArterialPatologicos %}
            <tr>
                <td><a href="{{ path('miembrosinferioresarterialpatologico_show', { 'id': miembrosInferioresArterialPatologico.id }) }}">{{ miembrosInferioresArterialPatologico.id }}</a></td>
                <td>{{ miembrosInferioresArterialPatologico.extension }}</td>
                <td>{{ miembrosInferioresArterialPatologico.velocidades }}</td>
                <td>{{ miembrosInferioresArterialPatologico.indicePreEstenosisEstenosis }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaFemoralComun }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaFemoralSuperficial }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaPoplitea }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaTibialAnterior }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaTibialPosterior }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteriaPeronea }}</td>
                <td>{{ miembrosInferioresArterialPatologico.arteria }}</td>
                <td>{{ miembrosInferioresArterialPatologico.flujosDistales }}</td>
                <td>{{ miembrosInferioresArterialPatologico.circulacionColateral }}</td>
                <td>{{ miembrosInferioresArterialPatologico.indiceTobilloBrazoDerecho }}</td>
                <td>{{ miembrosInferioresArterialPatologico.indiceTobilloBrazoIzquierdo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('miembrosinferioresarterialpatologico_show', { 'id': miembrosInferioresArterialPatologico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('miembrosinferioresarterialpatologico_edit', { 'id': miembrosInferioresArterialPatologico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('miembrosinferioresarterialpatologico_new') }}">Create a new miembrosInferioresArterialPatologico</a>
        </li>
    </ul>
{% endblock %}
