{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miembrosinferioresarterialpatologico</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ miembrosInferioresArterialPatologico.id }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ miembrosInferioresArterialPatologico.extension }}</td>
            </tr>
            <tr>
                <th>Velocidades</th>
                <td>{{ miembrosInferioresArterialPatologico.velocidades }}</td>
            </tr>
            <tr>
                <th>Indicepreestenosisestenosis</th>
                <td>{{ miembrosInferioresArterialPatologico.indicePreEstenosisEstenosis }}</td>
            </tr>
            <tr>
                <th>Arteriafemoralcomun</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaFemoralComun }}</td>
            </tr>
            <tr>
                <th>Arteriafemoralsuperficial</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaFemoralSuperficial }}</td>
            </tr>
            <tr>
                <th>Arteriapoplitea</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaPoplitea }}</td>
            </tr>
            <tr>
                <th>Arteriatibialanterior</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaTibialAnterior }}</td>
            </tr>
            <tr>
                <th>Arteriatibialposterior</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaTibialPosterior }}</td>
            </tr>
            <tr>
                <th>Arteriaperonea</th>
                <td>{{ miembrosInferioresArterialPatologico.arteriaPeronea }}</td>
            </tr>
            <tr>
                <th>Arteria</th>
                <td>{{ miembrosInferioresArterialPatologico.arteria }}</td>
            </tr>
            <tr>
                <th>Flujosdistales</th>
                <td>{{ miembrosInferioresArterialPatologico.flujosDistales }}</td>
            </tr>
            <tr>
                <th>Circulacioncolateral</th>
                <td>{{ miembrosInferioresArterialPatologico.circulacionColateral }}</td>
            </tr>
            <tr>
                <th>Indicetobillobrazoderecho</th>
                <td>{{ miembrosInferioresArterialPatologico.indiceTobilloBrazoDerecho }}</td>
            </tr>
            <tr>
                <th>Indicetobillobrazoizquierdo</th>
                <td>{{ miembrosInferioresArterialPatologico.indiceTobilloBrazoIzquierdo }}</td>
            </tr>
        </tbody>
    </table>

  </div>
</div>
</div>
  <ul>
      <li>
        <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
      </li>
      <li>
        <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
      </li>
  </ul>
{% endblock %}
