<head>
  <title> Resultado del informe </title>
  <meta charset="UTF-8" />
</head>
<body>
  {% include 'estudio/headerpdf.html.twig' %}

<h5 class="red-text left-align ">Informe desde: <b>{{ fdesde|date('Y-m-d') }}</b> hasta: <b>{{fhasta|date('Y-m-d')}}</b></h5> <br>

<table style="width:50%">
  <tr>
    <th>Nombre</th>
    <th>Cantidad</th>
  </tr>
  {% for r in res %}
  <tr>
    <td>{{r.nombre}}</td>
    <td>{{r.cantidad}}</td>
  </tr>
  {% endfor %}
</table>
<b>Total Estudios = {{totalEstudios}}</b>
</body>
