{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecocardiograma Con Inyección de Solución Salina Agitada</h1>

    <table>
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoCardiogramaInySolSalAgit in ecoCardiogramaInySolSalAgits %}
            <tr>
                <td><a href="{{ path('ecocardiogramainysolsalagit_show', { 'id': ecoCardiogramaInySolSalAgit.id }) }}">{{ ecoCardiogramaInySolSalAgit.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecocardiogramainysolsalagit_show', { 'id': ecoCardiogramaInySolSalAgit.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('ecocardiogramainysolsalagit_edit', { 'id': ecoCardiogramaInySolSalAgit.id }) }}">Modificar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('ecocardiogramainysolsalagit_new') }}"><i class="material-icons">library_add</i></a>Nuevo Estudio
        </li>
    </ul>
{% endblock %}
