{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="red-text">Pacientes</h3>
    {{ form_start(form) }}
    <div class="row">
      <div class="input-field col s3">
        {{ form_row(form.nombre) }}
      </div>
      <div class="input-field col s3">
        {{ form_row(form.apellido) }}
      </div>
      <div class="input-field col s3">
        {{ form_row(form.dni) }}
      </div>
      <div class="col s3">
        {{ form_row(form.buscar) }}
      </div>
    </div>
    {{ form_end(form) }}

    Total Pacientes: {{pagination.getTotalItemCount}}

    <table class="stripped">
        <thead>

            <tr>
              <th> {{knp_pagination_sortable(pagination, 'Nombre', 'u.nombre')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Apellido', 'u.apellido')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'DNI', 'u.dni')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Dirección', 'u.direccion')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Sexo', 'u.sexo')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Nacionalidad', 'u.nacionalidad')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Localidad', 'u.localidad')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Fecha Nacimiento', 'u.fechaNacimiento')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Fecha Ingreso', 'u.fechaIngreso')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Obrac Social', 'u.obraSocial')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Internación', 'u.internacion')}} </th>
              <th>Opciones</th>
            </tr>

       
        </thead>
        <tbody>
        {% for paciente in pagination.items %}
            <tr>
              <td>{{ paciente.nombre }}</td>
              <td>{{ paciente.apellido }}</td>
              <td>{{ paciente.dni }}</td>
              <td>{{ paciente.direccion }}</td>
              <td>{{ paciente.sexo }}</td>
              <td>{{ paciente.nacionalidad }}</td>
              <td>{{ paciente.localidad }}</td>
              <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ paciente.obraSocial }}</td>
                <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                <td>{{ paciente.internacion }}</td>
                <td><a class="btn-floating btn-small waves-effect waves-light blue" href="{{ path('paciente_show', { 'id': paciente.id }) }}"><i class="material-icons">zoom_in</i></a></td>
                <td><a class="btn-floating btn-small waves-effect waves-light yellow" href="{{ path('paciente_edit', { 'id': paciente.id }) }}"><i class="material-icons">create</i></a> </td>
                <td><a class="btn-floating btn-small waves-effect waves-light green" href="{{ path('estudio_new', { 'id': paciente.id }) }}"><i class="material-icons">add</i></a></td>
                <td><a class="btn-floating btn-small waves-effect waves-light green" href="{{ path('estudio_index', { 'id': paciente.id }) }}"><i class="material-icons">view_list</i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# MUESTRA EL NAVEGADOR #}
    <div class="navigation">
      {{knp_pagination_render(pagination)}}
    </div>


    <ul>
        <li>
          <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('paciente_new') }}"><i class="material-icons">person_add</i></a>Crear Nuevo Paciente
        </li>
    </ul>
{% endblock %}
