{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ paciente.apellido }}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{ paciente.dni }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ paciente.direccion }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ paciente.sexo }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ paciente.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ paciente.localidad}}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>{% if paciente.fechanacimiento %}{{ paciente.fechanacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Obra Social</th>
                <td>{{ paciente.obraSocial }}</td>
            </tr>
            <tr>
                <th>Fecha de Ingreso</th>
                <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Internacion</th>
                <td>{{ paciente.internacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_index') }}">Volver al listado de Pacientes</a>
        </li>
        <li>
            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}">Editar Paciente</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
