{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container center-align" >
  <div class="z-depth-1 grey lighten-4 row left-align" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Login</h5>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br><br>
            <a href="/resetting/request"> Olvidaste tu contraseña?</a>
            <center>
              <div class='row'>
                <button class='col s12 btn btn-large waves-effect red' style="margin-top:20px;"type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Entrar</button>
              </div>
            </center>
        </form>
  </div>
</div>
