<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>
      <h3  class="red-text"> Estudio {{ estudio.estudioConfiguracion.nombre }}</h3>

      <h4  class="red-text"> Datos del Medico </h4>
      <table style="width:25%;">
        <tr>
          <td><b>Nombre: </b></td>
          <td>{{ medico.nombre }}</td>
        </tr>
        <tr>
          <td><b>Apellido: </b></td>
          <td>{{ medico.apellido }}</td>
        </tr>
      </table>


      <h4  class="red-text"> Datos del Paciente </h4>
      <table style="width:40%;">
        <tr>
          <td><b>Nombre: </b></td>
          <td>{{ paciente.nombre }}</td>
        </tr>
        <tr>
          <td><b>Apellido: </b></td>
          <td>{{ paciente.apellido }}</td>
        </tr>
        <tr>
          <td><b>Dni: </b></td>
          <td>{{ paciente.dni }}</td>
        </tr>
        <tr>
          <td><b>Dirección: </b></td>
          <td>{{ paciente.direccion }}</td>
        </tr>
        <tr>
          <td><b>Sexo: </b></td>
          <td>{{ paciente.sexo }}</td>
        </tr>
        <tr>
          <td><b>Nacionalidad: </b></td>
          <td>{{ paciente.nacionalidad }}</td>
        </tr>
        <tr>
          <td><b>Localidad: </b></td>
          <td>{{ paciente.localidad }}</td>
        </tr>
        <tr>
          <td><b>Fecha de Nacimiento: </b></td>
          <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
          <td><b>Obra Social: </b></td>
          <td>{{ paciente.obraSocial }}</td>
        </tr>
        <tr>
          <td><b>Fecha de Ingreso: </b></td>
          <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
        </tr>
      </table>

      <h4  class="red-text"> Datos del Estudio </h4>
      <table style="width:25%;">
    <tbody>

        <tr>
            <th>Conclusion</th>
            <td>{{ estudio.conclusion }}</td>
        </tr>
        <tr>
            <th>Fecha alta</th>
            <td>{% if estudio.fechaAlta %}{{ estudio.fechaAlta|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Resultado</th>
            <td>{{   estudio.resultado  }}</td>
        </tr>
    </tbody>
    <table style="width:40%;">
        <tbody>
          <tr >
            <th><h4 class="red-text">PROTOCOLO DE LA TÉCNICA</h4></th>
          </tr>
            <tr>
                <th>Protocolo</th>
                <td>{{ estudio.protocolo }}</td>
            </tr>
            <tr >
            <th>  <h4 class="red-text">CAVIDADES IZQUIERDAS</h4></th>
            </tr>
            <tr >
            <th>  <h5 class="red-text">VENTRICULO IZQUIERDO</h5></th>
            </tr>
            <tr>
                <th>Descripcionvi</th>
                <td>{{ estudio.descripcionVI }}</td>
            </tr>
            <tr>
                <th>Dtdvi</th>
                <td>{{ estudio.dtdvi }}</td>
            </tr>
            <tr>
                <th>Dtsvi</th>
                <td>{{ estudio.dtsvi }}</td>
            </tr>
            <tr>
                <th>Vfd</th>
                <td>{{ estudio.vfd }}</td>
            </tr>
            <tr>
                <th>Vfs</th>
                <td>{{ estudio.vfs }}</td>
            </tr>
            <tr>
                <th>Fac</th>
                <td>{{ estudio.fac }}</td>
            </tr>
            <tr>
                <th>Fevi</th>
                <td>{{ estudio.fevi }}</td>
            </tr>
            <tr>
                <th>Septum</th>
                <td>{{ estudio.septum }}</td>
            </tr>
            <tr>
                <th>Pp</th>
                <td>{{ estudio.pp }}</td>
            </tr>
            <tr>
                <th>Masavi</th>
                <td>{{ estudio.masaVI }}</td>
            </tr>
            <tr >
            <th>  <h5 class="red-text">PLANIMETRIA DE AI</h5></th>
            </tr>
            <tr>
                <th>Areaai</th>
                <td>{{ estudio.areaAI }}</td>
            </tr>
            <tr>
                <th>Volumenai</th>
                <td>{{ estudio.volumenAI }}</td>
            </tr>
            <tr>
                <th>Cuatrocamarasai</th>
                <td>{{ estudio.cuatroCamarasAI }}</td>
            </tr>
            <tr >
              <th><h4 class="red-text">CAVIDADES DERECHAS</h4></th>
            </tr>
            <tr >
              <th><h5 class="red-text">VENTRICULO DERECHO</h5></th>
            </tr>
            <tr>
                <th>Tapselateral</th>
                <td>{{ estudio.tapseLateral }}</td>
            </tr>
            <tr>
                <th>Vfdvd</th>
                <td>{{ estudio.vfdVD }}</td>
            </tr>
            <tr>
                <th>Vfsvd</th>
                <td>{{ estudio.vfsVD }}</td>
            </tr>
            <tr>
                <th>Fevd</th>
                <td>{{ estudio.fevd }}</td>
            </tr>
            <tr >
              <th><h6 class="red-text">Diametros</h6></th>
            </tr>
            <tr>
                <th>Longitudinal</th>
                <td>{{ estudio.longitudinal }}</td>
            </tr>
            <tr>
                <th>Anillotricuspideo</th>
                <td>{{ estudio.anilloTricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversalsubtricuspideo</th>
                <td>{{ estudio.transversalSubtricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversalmedio</th>
                <td>{{ estudio.transversalMedio }}</td>
            </tr>
            <tr>
                <th>Tsvd</th>
                <td>{{ estudio.tsvd }}</td>
            </tr>
            <tr >
              <th><h5 class="red-text">PLANIMETRIA AURICULA DERECHA:</h5></th>
            </tr>
            <tr>
                <th>Areaad</th>
                <td>{{ estudio.areaAD }}</td>
            </tr>
            <tr>
                <th>Volumenad</th>
                <td>{{ estudio.volumenAD }}</td>
            </tr>
            <tr>
                <th>Cuatrocamarasad</th>
                <td>{{ estudio.cuatroCamarasAD }}</td>
            </tr>
            <tr>
                <th>Secuencias</th>
                <td>{{ estudio.secuencias }}</td>
            </tr>
        </tbody>
    </table>
</body>
