<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>

{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}

    <table style="width:40%;">
        <tbody>
          <tr >
            <th><h4 class="red-text">PROTOCOLO DE LA TÉCNICA</h4></th>
          </tr>
            <tr>
                <th>Protocolo</th>
                <td>{{ estudio.protocolo }}</td>
            </tr>
            <tr >
            <th>  <h4 class="red-text">CAVIDADES IZQUIERDAS</h4></th>
            </tr>
            <tr >
            <th>  <h5 class="red-text">VENTRÍCULO IZQUIERDO</h5></th>
            </tr>
            <tr>
                <th>Descripción vi</th>
                <td>{{ estudio.descripcionVI }}</td>
            </tr>
            <tr>
                <th>Dtdvi</th>
                <td>{{ estudio.dtdvi }}</td>
            </tr>
            <tr>
                <th>Dtsvi</th>
                <td>{{ estudio.dtsvi }}</td>
            </tr>
            <tr>
                <th>Vfd</th>
                <td>{{ estudio.vfd }}</td>
            </tr>
            <tr>
                <th>Vfs</th>
                <td>{{ estudio.vfs }}</td>
            </tr>
            <tr>
                <th>Fac</th>
                <td>{{ estudio.fac }}</td>
            </tr>
            <tr>
                <th>Fevi</th>
                <td>{{ estudio.fevi }}</td>
            </tr>
            <tr>
                <th>Septum</th>
                <td>{{ estudio.septum }}</td>
            </tr>
            <tr>
                <th>Pp</th>
                <td>{{ estudio.pp }}</td>
            </tr>
            <tr>
                <th>Masavi</th>
                <td>{{ estudio.masaVI }}</td>
            </tr>
            <tr >
            <th>  <h5 class="red-text">PLANIMETRÍA DE AI</h5></th>
            </tr>
            <tr>
                <th>Área ai</th>
                <td>{{ estudio.areaAI }}</td>
            </tr>
            <tr>
                <th>Volumen ai</th>
                <td>{{ estudio.volumenAI }}</td>
            </tr>
            <tr>
                <th>Cuatro cámaras ai</th>
                <td>{{ estudio.cuatroCamarasAI }}</td>
            </tr>
            <tr >
              <th><h4 class="red-text">CAVIDADES DERECHAS</h4></th>
            </tr>
            <tr >
              <th><h5 class="red-text">VENTRÍCULO DERECHO</h5></th>
            </tr>
            <tr>
                <th>Tapse Lateral</th>
                <td>{{ estudio.tapseLateral }}</td>
            </tr>
            <tr>
                <th>Vfdvd</th>
                <td>{{ estudio.vfdVD }}</td>
            </tr>
            <tr>
                <th>Vfsvd</th>
                <td>{{ estudio.vfsVD }}</td>
            </tr>
            <tr>
                <th>Fevd</th>
                <td>{{ estudio.fevd }}</td>
            </tr>
            <tr >
              <th><h6 class="red-text">Diametros</h6></th>
            </tr>
            <tr>
                <th>Longitudinal</th>
                <td>{{ estudio.longitudinal }}</td>
            </tr>
            <tr>
                <th>Anillo Tricuspídeo</th>
                <td>{{ estudio.anilloTricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversal Subtricuspídeo</th>
                <td>{{ estudio.transversalSubtricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversal medio</th>
                <td>{{ estudio.transversalMedio }}</td>
            </tr>
            <tr>
                <th>Tsvd</th>
                <td>{{ estudio.tsvd }}</td>
            </tr>
            <tr >
              <th><h5 class="red-text">PLANIMETRÍA AURÍCULA DERECHA:</h5></th>
            </tr>
            <tr>
                <th>Área ad</th>
                <td>{{ estudio.areaAD }}</td>
            </tr>
            <tr>
                <th>Volumen ad</th>
                <td>{{ estudio.volumenAD }}</td>
            </tr>
            <tr>
                <th>Cuatro Cámaras ad</th>
                <td>{{ estudio.cuatroCamarasAD }}</td>
            </tr>
            <tr>
                <th>Secuencias</th>
                <td>{{ estudio.secuencias }}</td>
            </tr>
        </tbody>
    </table>
</body>
