<head>
  <title> Resultado de {{ estudio.estudioConfiguracion.nombre }} </title>
  <meta charset="UTF-8" />
</head>
<body>

{% include 'estudio/headerpdf.html.twig' %}

{% include 'estudio/datosPrincipales.html.twig' %}


<h4 class="red-text">PROTOCOLO DE LA TÉCNICA</h4>
{{ estudio.protocolo }}
 <h4 class="red-text">CAVIDADES IZQUIERDAS</h4>
  <h5 class="red-text">VENTRÍCULO IZQUIERDO</h5>
Descripción VI: {{ estudio.descripcionVI }}
Dtd VI: {{ estudio.dtdvi }}
Dts VI: {{ estudio.dtsvi }}
Vfd: {{ estudio.vfd }}
Vfs: {{ estudio.vfs }}
Fac: {{ estudio.fac }}
Fe VI: {{ estudio.fevi }}
Septum: {{ estudio.septum }}
Pp: {{ estudio.pp }}
Masa VI: {{ estudio.masaVI }}
<h5 class="red-text">PLANIMETRÍA DE AI</h5>
Area AI: {{ estudio.areaAI }}
Volumen AI: {{ estudio.volumenAI }}
Cuatro Cámaras AI: {{ estudio.cuatroCamarasAI }}
<h4 class="red-text">CAVIDADES DERECHAS</h4>
<h5 class="red-text">VENTRÍCULO DERECHO</h5>
Tapse lateral: {{ estudio.tapseLateral }}
Vfd VD: {{ estudio.vfdVD }}
Vfs VD: {{ estudio.vfsVD }}
Fe VD: {{ estudio.fevd }}
<h6 class="red-text">Diámetros</h6>
Longitudinal: {{ estudio.longitudinal }}
Anillo Tricuspídeo: {{ estudio.anilloTricuspideo }}
Transversal Subtricuspídeo: >{{ estudio.transversalSubtricuspideo }}
Transversal medio: {{ estudio.transversalMedio }}
Tsvd: {{ estudio.tsvd }}
<h5 class="red-text">PLANIMETRÍA AURÍCULA DERECHA:</h5>
Area AD: {{ estudio.areaAD }}
Volumen AD: {{ estudio.volumenAD }}
Cuatro Cámaras AD: {{ estudio.cuatroCamarasAD }}
Secuencias: {{ estudio.secuencias }}
</body>
