{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cardio Resonancia</h1>

    <table>
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Dtdvi</th>
                <th>Dtsvi</th>
                <th>Vfd</th>
                <th>Vfs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cardioResonancium in cardioResonancias %}
            <tr>
                <td><a href="{{ path('cardioresonancia_show', { 'id': cardioResonancium.id }) }}">{{ cardioResonancium.id }}</a></td>
                <td>{{ cardioResonancium.dtdvi }}</td>
                <td>{{ cardioResonancium.dtsvi }}</td>
                <td>{{ cardioResonancium.vfd }}</td>
                <td>{{ cardioResonancium.vfs }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cardioresonancia_show', { 'id': cardioResonancium.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('cardioresonancia_edit', { 'id': cardioResonancium.id }) }}">Modificar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('cardioresonancia_new') }}"><i class="material-icons">library_add</i></a>Nuevo Estudio
        </li>
    </ul>
{% endblock %}
