{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

  <div class="container col s12 center-align" >

    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Nuevo Estudio {{ estudio.estudioConfiguracion.nombre }}</h5>

    {{ form_start(form) }}
    {{ form_row(form.motivoSolicitud) }}
    {{ form_row(form.resultado) }}
    {{ form_row(form.conclusion) }}
    PROTOCOLO DE LA TÉCNICA
    {{ form_row(form.protocolo) }}
    CAVIDADES IZQUIERDAS
    VENTRÍCULO IZQUIERDO
    {{ form_row(form.descripcionVI) }}
    {{ form_row(form.dtdvi) }}
    {{ form_row(form.dtsvi) }}
    {{ form_row(form.vfd) }}
    {{ form_row(form.vfs) }}
    {{ form_row(form.fac) }}
    {{ form_row(form.fevi) }}
    {{ form_row(form.septum) }}
    {{ form_row(form.pp) }}
    {{ form_row(form.masaVI) }}
    PLANIMETRÍA DE AI
    {{ form_row(form.areaAI) }}
    {{ form_row(form.volumenAI) }}
    {{ form_row(form.cuatroCamarasAI) }}
    CAVIDADES DERECHAS
    VENTRÍCULO DERECHO
    {{ form_row(form.tapseLateral) }}
    {{ form_row(form.vfdVD) }}
    {{ form_row(form.vfsVD) }}
    {{ form_row(form.fevd) }}
    Diámetros:
    {{ form_row(form.longitudinal) }}
    {{ form_row(form.anilloTricuspideo) }}
    {{ form_row(form.transversalSubtricuspideo) }}
    {{ form_row(form.transversalMedio) }}
    {{ form_row(form.tsvd) }}
    PLANIMETRÍA AURÍCULA DERECHA:
    {{ form_row(form.areaAD) }}
    {{ form_row(form.volumenAD) }}
    {{ form_row(form.cuatroCamarasAD) }}
    {{ form_row(form.secuencias) }}
    {{ form_row(form.grupoDiagnostico) }}
    {{ form_row(form.internacion) }}
        <input class="btn waves-effect waves-light red" type="submit" value="Crear" />
    {{ form_end(form) }}
    </div>
  </div>
</div>
<br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
<br><a class="btn waves-effect waves-light red lighten-1" style="margin-left:10px; margin-bottom:20px;"  href="{{ path('estudio_new', { 'id': paciente.id }) }}">Volver a la lista de estudios para agregar al paciente: <b>{{paciente.nombre}} </b> </a>

{% endblock %}
