{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estudio: {{ cardioresonancia.estudioConfiguracion.nombre }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Paciente</th>
                <td>{{ cardioResonancium.id }}</td>
            </tr>
            <tr>
                <th>Dtdvi</th>
                <td>{{ cardioResonancium.dtdvi }}</td>
            </tr>
            <tr>
                <th>Dtsvi</th>
                <td>{{ cardioResonancium.dtsvi }}</td>
            </tr>
            <tr>
                <th>Vfd</th>
                <td>{{ cardioResonancium.vfd }}</td>
            </tr>
            <tr>
                <th>Vfs</th>
                <td>{{ cardioResonancium.vfs }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('estudio_index', { 'id': cardioresonancia_index.paciente.id }) }}">Volver al Paciente</a>
        </li>
        <li>
            <a href="{{ path('estudio_edit', { 'id': cardioresonancia_index.id }) }}">Modificar</a>
        </li>


        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
