{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light blue" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_pdf' , { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id} ) }}">imprimir</b> </a>
  <br>
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">

      {% include 'estudio/datosPrincipales.html.twig' %}


    <table style="width:25%;">
        <tbody>
          <tr >
            <th><h4 class="red-text">PROTOCOLO DE LA TÉCNICA</h4></th>
          </tr>
            <tr>
                <th>Protocolo</th>
                <td>{{ estudio.protocolo }}</td>
            </tr>
            <tr >
            <th>  <h4 class="red-text">CAVIDADES IZQUIERDAS</h4></th>
            </tr>
            <tr >
            <th>  <h5 class="red-text">VENTRÍCULO IZQUIERDO</h5></th>
            </tr>
            <tr>
                <th>Descripción vi</th>
                <td>{{ estudio.descripcionVI }}</td>
            </tr>
            <tr>
                <th>Dtdvi</th>
                <td>{{ estudio.dtdvi }}</td>
            </tr>
            <tr>
                <th>Dtsvi</th>
                <td>{{ estudio.dtsvi }}</td>
            </tr>
            <tr>
                <th>Vfd</th>
                <td>{{ estudio.vfd }}</td>
            </tr>
            <tr>
                <th>Vfs</th>
                <td>{{ estudio.vfs }}</td>
            </tr>
            <tr>
                <th>Fac</th>
                <td>{{ estudio.fac }}</td>
            </tr>
            <tr>
                <th>Fevi</th>
                <td>{{ estudio.fevi }}</td>
            </tr>
            <tr>
                <th>Septum</th>
                <td>{{ estudio.septum }}</td>
            </tr>
            <tr>
                <th>Pp</th>
                <td>{{ estudio.pp }}</td>
            </tr>
            <tr>
                <th>Masavi</th>
                <td>{{ estudio.masaVI }}</td>
            </tr>
            <tr >
            <th>  <h5 class="red-text">PLANIMETRÍA DE AI</h5></th>
            </tr>
            <tr>
                <th>Area ai</th>
                <td>{{ estudio.areaAI }}</td>
            </tr>
            <tr>
                <th>Volumen ai</th>
                <td>{{ estudio.volumenAI }}</td>
            </tr>
            <tr>
                <th>Cuatro Cámaras ai</th>
                <td>{{ estudio.cuatroCamarasAI }}</td>
            </tr>
            <tr >
              <th><h4 class="red-text">CAVIDADES DERECHAS</h4></th>
            </tr>
            <tr >
              <th><h5 class="red-text">VENTRÍCULO DERECHO</h5></th>
            </tr>
            <tr>
                <th>Tapse lateral</th>
                <td>{{ estudio.tapseLateral }}</td>
            </tr>
            <tr>
                <th>Vfdvd</th>
                <td>{{ estudio.vfdVD }}</td>
            </tr>
            <tr>
                <th>Vfsvd</th>
                <td>{{ estudio.vfsVD }}</td>
            </tr>
            <tr>
                <th>Fevd</th>
                <td>{{ estudio.fevd }}</td>
            </tr>
            <tr >
              <th><h6 class="red-text">Diámetros</h6></th>
            </tr>
            <tr>
                <th>Longitudinal</th>
                <td>{{ estudio.longitudinal }}</td>
            </tr>
            <tr>
                <th>Anillo Tricuspídeo</th>
                <td>{{ estudio.anilloTricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversal Subtricuspídeo</th>
                <td>{{ estudio.transversalSubtricuspideo }}</td>
            </tr>
            <tr>
                <th>Transversal medio</th>
                <td>{{ estudio.transversalMedio }}</td>
            </tr>
            <tr>
                <th>Tsvd</th>
                <td>{{ estudio.tsvd }}</td>
            </tr>
            <tr >
              <th><h5 class="red-text">PLANIMETRÍA AURÍCULA DERECHA:</h5></th>
            </tr>
            <tr>
                <th>Area ad</th>
                <td>{{ estudio.areaAD }}</td>
            </tr>
            <tr>
                <th>Volumen ad</th>
                <td>{{ estudio.volumenAD }}</td>
            </tr>
            <tr>
                <th>Cuatro Cámaras ad</th>
                <td>{{ estudio.cuatroCamarasAD }}</td>
            </tr>
            <tr>
                <th>Secuencias</th>
                <td>{{ estudio.secuencias }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
    <ul>
        <li>
          <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px;" href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
        </li>
        <li>
          <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
        </li>

    </ul>
{% endblock %}
