{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorartmieminfders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorArtMiemInfDer in ecoDopplerColorArtMiemInfDers %}
            <tr>
                <td><a href="{{ path('ecodopplercolorartmieminfder_show', { 'id': ecoDopplerColorArtMiemInfDer.id }) }}">{{ ecoDopplerColorArtMiemInfDer.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorartmieminfder_show', { 'id': ecoDopplerColorArtMiemInfDer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorartmieminfder_edit', { 'id': ecoDopplerColorArtMiemInfDer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorartmieminfder_new') }}">Create a new ecoDopplerColorArtMiemInfDer</a>
        </li>
    </ul>
{% endblock %}
