{% trans_default_domain 'FOSUserBundle' %}
<div class="row col s12">
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h3 class="red-text center-align "> Cambiar Contraseña</h3>


{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn waves-effect waves-light red" type="submit"  value="{{ 'change_password.submit'|trans }}" />
        {{ 'change_password.submit'|trans }}
        </button>
    </div>
{{ form_end(form) }}
</div>
</div>
</div>
<a class="btn waves-effect waves-light red" href="/profile">Volver al Perfil</a>
