{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorvenosomiembrosinferiores list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorVenosoMiembrosInferiore in ecoDopplerColorVenosoMiembrosInferiores %}
            <tr>
                <td><a href="{{ path('ecodopplercolorvenosomiembrosinferiores_show', { 'id': ecoDopplerColorVenosoMiembrosInferiore.id }) }}">{{ ecoDopplerColorVenosoMiembrosInferiore.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorvenosomiembrosinferiores_show', { 'id': ecoDopplerColorVenosoMiembrosInferiore.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorvenosomiembrosinferiores_edit', { 'id': ecoDopplerColorVenosoMiembrosInferiore.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorvenosomiembrosinferiores_new') }}">Create a new ecoDopplerColorVenosoMiembrosInferiore</a>
        </li>
    </ul>
{% endblock %}
