{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorartrenales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorArtRenale in ecoDopplerColorArtRenales %}
            <tr>
                <td><a href="{{ path('ecodopplercolorartrenales_show', { 'id': ecoDopplerColorArtRenale.id }) }}">{{ ecoDopplerColorArtRenale.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorartrenales_show', { 'id': ecoDopplerColorArtRenale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorartrenales_edit', { 'id': ecoDopplerColorArtRenale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorartrenales_new') }}">Create a new ecoDopplerColorArtRenale</a>
        </li>
    </ul>
{% endblock %}
