{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Especialidades</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Observacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for especialidad in especialidads %}
            <tr>
                <td>{{ especialidad.nombre }}</a></td>
                <td>{{ especialidad.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('especialidad_show', { 'id': especialidad.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('especialidad_edit', { 'id': especialidad.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('especialidad_new') }}">Crear una Especialidad</a>
        </li>
    </ul>
{% endblock %}
