{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">
      <h5 class="red-text center-align ">Especialidades</h5>
      Total Especialidades: {{pagination.getTotalItemCount}}

    <table>
        <thead>
            <tr>
              <th> {{knp_pagination_sortable(pagination, 'Nombre', 'u.nombre')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Observación', 'u.observacion')}} </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for especialidad in pagination.items %}
            <tr>
                <td>{{ especialidad.nombre }}</a></td>
                <td>{{ especialidad.observacion }}</td>
                <td>
                            <a class="btn-floating  waves-effect waves-light yellow" href="{{ path('especialidad_edit', { 'id': especialidad.id }) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# MUESTRA EL NAVEGADOR #}
    <div class="navigation">
      {{knp_pagination_render(pagination)}}
    </div>
    </div>    </div>    </div>


    <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('especialidad_new') }}"><i class="material-icons">add</i></a>Crear una Especialidad

{% endblock %}
