{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light blue" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_pdf' , { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id} ) }}">imprimir</b> </a>
  <br>

  <br><div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">

<h3  class="red-text"> Estudio {{ estudio.estudioConfiguracion.nombre }}</h3>

<h3> Datos del Medico </h3>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Matricula</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ medico.nombre }}</td>
      <td>{{ medico.apellido }}</td>
      <td>{{ medico.matricula }}</td>
    </tr>
  </tbody>
</table>

<h3> Datos del Paciente </h3>
<table class="stripped">
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dni</th>
          <th>Direccion</th>
          <th>Sexo</th>
          <th>Nacionalidad</th>
          <th>Localidad</th>
          <th>Fecha de Nacimiento</th>
            <th>Obra Social</th>
            <th>Fecha de Ingreso</th>
            <th>Internacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.apellido }}</td>
          <td>{{ paciente.dni }}</td>
          <td>{{ paciente.direccion }}</td>
          <td>{{ paciente.sexo }}</td>
          <td>{{ paciente.nacionalidad }}</td>
          <td>{{ paciente.localidad }}</td>
          <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            <td>{{ paciente.obraSocial }}</td>
            <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
            <td>{{ paciente.internacion }}</td>
        </tr>
    </tbody>
</table>
<h3  class="red-text"> Resultados </h3>

    <table>
        <tbody>

            <tr>
                <th>Conclusion</th>
                <td>{{ estudio.conclusion }}</td>
            </tr>
            <tr>
                <th>Fecha alta</th>
                <td>{% if estudio.fechaAlta %}{{ estudio.fechaAlta|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{   estudio.resultado  }}</td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
    <ul>
        <li>
          <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
        </li>
        <li>
            <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path('aortaabdominalateromatosa_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
        </li>

    </ul>
{% endblock %}
