{% extends 'base.html.twig' %}

{% block body %}
<h3>Estudios para agregar</h3>
<ul>
{% for estudio in nombreEstudios %}
<li>
<a href="/{{estudio.link}}/new/{{paciente.id}}">{{estudio.nombre}}</a>
</li>
{% endfor %}
</ul>
buscar por fecha y por estudio?
    <h3>
      Estudios del paciente:
      <a href="{{ path('paciente_show', { 'id': paciente.id }) }}">{{ paciente.nombre }}</a>
    </h3>

    <table class="highlight">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Observacion</th>
                <th>Fecha alta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estudio in paciente.getEstudios() %}
            <tr>
                <td><a href="{{ path(estudio.getEstudioConfiguracion().link~'_show', { 'id': estudio.id }) }}">{{ estudio.getEstudioConfiguracion().nombre }}</a></td>
                <td>{{ estudio.observacion }}</td>
                <td>{% if estudio.fechaAlta %}{{ estudio.fechaAlta|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path(estudio.getEstudioConfiguracion().link~'_show', { 'id': estudio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
