{% extends 'base.html.twig' %}

{% block body %}

<h3 class="red-text">
  Estudios realizados por el medico:
  <b><a href="/profile">{{ medico.nombre }}</a></b>
</h3>

{{ form_start(form) }}

<div class="row">

  <div class="input-field col s3">
    {{ form_row(form.fechaAlta) }}
  </div>
  <div class="input-field col s3">
    {{ form_row(form.nombre) }}
  </div>
  <div class="col s3">
    {{ form_row(form.buscar) }}
  </div>
</div>

{{ form_end(form) }}

 Total Estudios: {{pagination.getTotalItemCount}}

     <table class="stripped">
        <thead>

            <tr>
              <th> {{knp_pagination_sortable(pagination, 'Nombre Estudio', 'u.nombre')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Nombre / Apellido / DNI', 'u.dni')}} </th>
              <th> {{knp_pagination_sortable(pagination, 'Fecha Alta', 'u.fechaAlta')}} </th>
              <th>Opciones</th>
            </tr>
            </thead>
            
        <tbody>




    <tbody>
    {% for estudio in pagination.items %}
        <tr>
            <td><a href="{{ path(estudio.getEstudioConfiguracion().link~'_show', { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id }) }}">{{ estudio.getEstudioConfiguracion().nombre }}</a></td>
            <td>{{ estudio.getPaciente().nombre }} {{ estudio.getPaciente().apellido }} {{ estudio.getPaciente().dni }}</td>
            <td>{% if estudio.fechaAlta %}{{ estudio.fechaAlta|date('Y-m-d') }}{% endif %}</td>
            <td><a class="btn-floating btn-small waves-effect waves-light blue" href="{{ path(estudio.getEstudioConfiguracion().link~'_show', { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id}) }}"><i class="material-icons">zoom_in</i></a></td>
            <td><a class="btn-floating btn-small waves-effect waves-light yellow" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id}) }}"><i class="material-icons">create</i></a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <br>
    {# MUESTRA EL NAVEGADOR #}
    <div class="navigation">
      {{knp_pagination_render(pagination)}}
    </div>


{% endblock %}
