{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecocardiograma 2D </h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Situs</th>
                <th>Conexión auriculoventricular</th>
                <th>Conexión ventriculoarterial</th>
                <th>Ddvi</th>
                <th>Dsvi</th>
                <th>Siv</th>
                <th>Pp</th>
                <th>Fey</th>
                <th>Alarea</th>
                <th>Alvol</th>
                <th>Aorta</th>
                <th>Apvao</th>
                <th>Tsvi</th>
                <th>Velmaxao</th>
                <th>Gradmaxao</th>
                <th>Gradmedao</th>
                <th>Insuficiencia</th>
                <th>Thp</th>
                <th>Adt</th>
                <th>Aa</th>
                <th>Velondae</th>
                <th>Velondaa</th>
                <th>Gradmedioatrasmitral</th>
                <th>Insuficienciatrasmitral</th>
                <th>Ore</th>
                <th>Volregurgitante</th>
                <th>Dpdt</th>
                <th>Velmaxpulmonar</th>
                <th>Gradmaxpulomonar</th>
                <th>Insuficiencia Pulmonar</th>
                <th>Tpopico</th>
                <th>Qpqs</th>
                <th>Insuficiencia tricuspide</th>
                <th>Velregurgitante</th>
                <th>Gradpico</th>
                <th>Pap</th>
                <th>Pad</th>
                <th>Onda septal</th>
                <th>Onda lateral</th>
                <th>Onda e</th>
                <th>Onda a</th>
                <th>Relación e</th>
                <th>Onda vd</th>
                <th>Ventrículo Izq L1</th>
                <th>Ventrículo Izq L2</th>
                <th>Ventrículo Izq L3</th>
                <th>Ventrículo Izq L1 imvi</th>
                <th>Ventrículo Izq L1 epr</th>
                <th>Ventrículo Izq L4 c1</th>
                <th>Raíz Aorta L1</th>
                <th>Aorta L1</th>
                <th>Aorta L2</th>
                <th>Aorta L3</th>
                <th>Válvula mitral L1</th>
                <th>Válvula mitral L2</th>
                <th>Aurícula Izq L1</th>
                <th>Válvula pulmonar L1</th>
                <th>Válvula pulmonar L2</th>
                <th>Válvula tricuspide L1</th>
                <th>Válvula tricuspide L2</th>
                <th>Cavidad derecha L1 C1</th>
                <th>Cavidad derecha L1 C2</th>
                <th>Cavidad derecha L1 C3</th>
                <th>Vena cava inferior L1</th>
                <th>Pericardio l1</th>
                <th>Conclusion l1</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ecocardiograma2d in ecocardiograma2ds %}
            <tr>
                <td><a href="{{ path('ecocardiograma2d_show', { 'id': ecocardiograma2d.id }) }}">{{ ecocardiograma2d.id }}</a></td>
                <td>{{ ecocardiograma2d.situs }}</td>
                <td>{{ ecocardiograma2d.conexionAuriculoventricular }}</td>
                <td>{{ ecocardiograma2d.conexionVentriculoArterial }}</td>
                <td>{{ ecocardiograma2d.ddvi }}</td>
                <td>{{ ecocardiograma2d.dsvi }}</td>
                <td>{{ ecocardiograma2d.siv }}</td>
                <td>{{ ecocardiograma2d.pp }}</td>
                <td>{{ ecocardiograma2d.fey }}</td>
                <td>{{ ecocardiograma2d.alArea }}</td>
                <td>{{ ecocardiograma2d.alVol }}</td>
                <td>{{ ecocardiograma2d.aorta }}</td>
                <td>{{ ecocardiograma2d.apVao }}</td>
                <td>{{ ecocardiograma2d.tsvi }}</td>
                <td>{{ ecocardiograma2d.velMaxAo }}</td>
                <td>{{ ecocardiograma2d.gradMaxAo }}</td>
                <td>{{ ecocardiograma2d.gradMedAo }}</td>
                <td>{{ ecocardiograma2d.insuficiencia }}</td>
                <td>{{ ecocardiograma2d.thp }}</td>
                <td>{{ ecocardiograma2d.adt }}</td>
                <td>{{ ecocardiograma2d.aa }}</td>
                <td>{{ ecocardiograma2d.velOndaE }}</td>
                <td>{{ ecocardiograma2d.velOndaA }}</td>
                <td>{{ ecocardiograma2d.gradMedioaTrasmitral }}</td>
                <td>{{ ecocardiograma2d.insuficienciaTrasmitral }}</td>
                <td>{{ ecocardiograma2d.ore }}</td>
                <td>{{ ecocardiograma2d.volRegurgitante }}</td>
                <td>{{ ecocardiograma2d.dpdt }}</td>
                <td>{{ ecocardiograma2d.velMaxPulmonar }}</td>
                <td>{{ ecocardiograma2d.gradMaxPulomonar }}</td>
                <td>{{ ecocardiograma2d.insuficienciapulmonar }}</td>
                <td>{{ ecocardiograma2d.tpoPico }}</td>
                <td>{{ ecocardiograma2d.qpqs }}</td>
                <td>{{ ecocardiograma2d.insuficienciaTricuspide }}</td>
                <td>{{ ecocardiograma2d.velRegurgitante }}</td>
                <td>{{ ecocardiograma2d.gradPico }}</td>
                <td>{{ ecocardiograma2d.pap }}</td>
                <td>{{ ecocardiograma2d.pad }}</td>
                <td>{{ ecocardiograma2d.ondaSeptal }}</td>
                <td>{{ ecocardiograma2d.ondaLateral }}</td>
                <td>{{ ecocardiograma2d.ondaE }}</td>
                <td>{{ ecocardiograma2d.ondaA }}</td>
                <td>{{ ecocardiograma2d.relacionE }}</td>
                <td>{{ ecocardiograma2d.ondaVd }}</td>
                <td>{% if ecocardiograma2d.ventriculoIzqL1 %}{{ ecocardiograma2d.ventriculoIzqL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.ventriculoIzqL2 %}{{ ecocardiograma2d.ventriculoIzqL2|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.ventriculoIzqL3 %}{{ ecocardiograma2d.ventriculoIzqL3|join(', ') }}{% endif %}</td>
                <td>{{ ecocardiograma2d.ventriculoIzqL1Imvi }}</td>
                <td>{{ ecocardiograma2d.ventriculoIzqL1Epr }}</td>
                <td>{{ ecocardiograma2d.ventriculoIzqL4C1 }}</td>
                <td>{% if ecocardiograma2d.raizAortaL1 %}{{ ecocardiograma2d.raizAortaL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.aortaL1 %}{{ ecocardiograma2d.aortaL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.aortaL2 %}{{ ecocardiograma2d.aortaL2|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.aortaL3 %}{{ ecocardiograma2d.aortaL3|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulaMitralL1 %}{{ ecocardiograma2d.valvulaMitralL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulaMitralL2 %}{{ ecocardiograma2d.valvulaMitralL2|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.auriculaIzqL1 %}{{ ecocardiograma2d.auriculaIzqL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulaPulmonarL1 %}{{ ecocardiograma2d.valvulaPulmonarL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulaPulmonarL2 %}{{ ecocardiograma2d.valvulaPulmonarL2|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulatricuspideL1 %}{{ ecocardiograma2d.valvulatricuspideL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.valvulatricuspideL2 %}{{ ecocardiograma2d.valvulatricuspideL2|join(', ') }}{% endif %}</td>
                <td>{{ ecocardiograma2d.cavidadDerechaL1C1 }}</td>
                <td>{{ ecocardiograma2d.cavidadDerechaL1C2 }}</td>
                <td>{{ ecocardiograma2d.cavidadDerechaL1C3 }}</td>
                <td>{% if ecocardiograma2d.venaCavaInferiorL1 %}{{ ecocardiograma2d.venaCavaInferiorL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.pericardioL1 %}{{ ecocardiograma2d.pericardioL1|join(', ') }}{% endif %}</td>
                <td>{% if ecocardiograma2d.conclusionL1 %}{{ ecocardiograma2d.conclusionL1|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecocardiograma2d_show', { 'id': ecocardiograma2d.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecocardiograma2d_edit', { 'id': ecocardiograma2d.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecocardiograma2d_new') }}">Create a new ecocardiograma2d</a>
        </li>
    </ul>
{% endblock %}
