{% extends 'base.html.twig' %}

{% block body %}
<div class="row col s12">
  <br><a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  <br><a class="btn waves-effect waves-light blue" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_pdf' , { 'id': estudio.id , 'idPaciente': estudio.getPaciente().id} ) }}">imprimir</b> </a>
  <br>
  <div class="container col s12 center-align" >
    <div class="z-depth-1 grey lighten-4 row left-align col s12" style="display: inline-block; margin: 50px; padding: 32px 48px 50px 48px; border: 1px solid #EEE;">

      <h3  class="red-text"> Estudio {{ estudio.estudioConfiguracion.nombre }}</h3>

      <h4> Datos del Medico </h4>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Matricula</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ medico.nombre }}</td>
            <td>{{ medico.apellido }}</td>
          </tr>
        </tbody>
      </table>

      <h4> Datos del Paciente </h4>
      <table class="stripped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Direccion</th>
            <th>Sexo</th>
            <th>Nacionalidad</th>
            <th>Localidad</th>
            <th>Fecha de Nacimiento</th>
            <th>Obra Social</th>
            <th>Fecha de Ingreso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.dni }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.sexo }}</td>
            <td>{{ paciente.nacionalidad }}</td>
            <td>{{ paciente.localidad }}</td>
            <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            <td>{{ paciente.obraSocial }}</td>
            <td>{% if paciente.fechaIngreso %}{{ paciente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
          </tr>
        </tbody>
      </table>

      <h4> Datos del Estudio </h4>
    <table style="width:50%;   border: 1px solid black;">
      Tabla 1: Valores Bidimensionales

      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Ddvi</td>
          <td>{{ estudio.ddvi }}</td>
          <td>Alarea</td>
          <td>{{ estudio.alArea }}</td>
        </tr>
        <tr>
          <td>Dsvi</td>
          <td>{{ estudio.dsvi }}</td>
          <td>Alvol</td>
          <td>{{ estudio.alVol }}</td>
        </tr>
        <tr>
          <td>Siv</td>
          <td>{{ estudio.siv }}</td>
          <td>Aorta</td>
          <td>{{ estudio.aorta }}</td>
        </tr>
        <tr>
          <td>Pp</td>
          <td>{{ estudio.pp }}</td>
          <td>Apvao</td>
          <td>{{ estudio.apVao }}</td>
        </tr>
        <tr>
          <td>Fey</td>
          <td>{{ estudio.fey }}</td>
          <td>Tsvi</td>
          <td>{{ estudio.tsvi }}</td>
        </tr>
      </tbody>
    </table>

<br><br>
    Tabla 2: Valores Doppel
    <table style="width:75%;   border: 1px solid black;">
      <tr>
        <td>Velmaxao</td>
        <td>{{ estudio.velMaxAo }}</td>
        <td>Velondae</td>
        <td>{{ estudio.velOndaE }}</td>
        <td>Velmaxpulmonar</td>
        <td>{{ estudio.velMaxPulmonar }}</td>
        <td>Insuficienciatricuspide</td>
        <td>{{ estudio.insuficienciaTricuspide }}</td>
      </tr>
      <tr>
        <td>Gradmaxao</td>
        <td>{{ estudio.gradMaxAo }}</td>
        <td>Velondaa</td>
        <td>{{ estudio.velOndaA }}</td>
        <td>Gradmaxpulomonar</td>
        <td>{{ estudio.gradMaxPulomonar }}</td>
        <td>Velregurgitante</td>
        <td>{{ estudio.velRegurgitante }}</td>
      </tr>
      <tr>
        <td>Gradmedao</td>
        <td>{{ estudio.gradMedAo }}</td>
        <td>Gradmedioatrasmitral</td>
        <td>{{ estudio.gradMedioaTrasmitral }}</td>
        <td>Insuficiencia_pulmonar</td>
        <td>{{ estudio.insuficienciapulmonar }}</td>
        <td>Gradpico</td>
        <td>{{ estudio.gradPico }}</td>
      </tr>
      <tr>
        <td>Insuficiencia</td>
        <td>{{ estudio.insuficiencia }}</td>
        <td>Insuficienciatrasmitral</td>
        <td>{{ estudio.insuficienciaTrasmitral }}</td>
        <td>Tpopico</td>
        <td>{{ estudio.tpoPico }}</td>
        <td>Pap</td>
        <td>{{ estudio.pap }}</td>
      </tr>
      <tr>
        <td>Thp</td>
        <td>{{ estudio.thp }}</td>
        <td>Ore</td>
        <td>{{ estudio.ore }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Adt</td>
        <td>{{ estudio.adt }}</td>
        <td>Volregurgitante</td>
        <td>{{ estudio.volRegurgitante }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Aa</td>
        <td>{{ estudio.aa }}</td>
        <td>Dpdt</td>
        <td>{{ estudio.dpdt }}</td>
        <td>Qpqs</td>
        <td>{{ estudio.qpqs }}</td>
        <td>Pad</td>
        <td>{{ estudio.pad }}</td>
      </tr>
    </table>
<br><br>
    Tabla 3: Valores Doppler Tisular
    <table style="width:50%;   border: 1px solid black;">
      <tr>
        <td>Onda s septal</td>
        <td>{{ estudio.ondaSeptal }}</td>
        <td>Onda s vd</td>
        <td>{{ estudio.ondaVd }}</td>
      </tr>
      <tr>
        <td>Onda s lateral</td>
        <td>{{ estudio.ondaLateral }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Onda e</td>
        <td>{{ estudio.ondaE }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Onda a</td>
        <td>{{ estudio.ondaA }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Relacion e/e</td>
        <td>{{ estudio.relacionE }}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
<br><br>

  </div>
</div>
</div>
<ul>
  <li>
    <a class="btn waves-effect waves-light red" style="margin-left:10px; margin-bottom:20px; " href="{{ path('estudio_index', { 'id': paciente.id }) }}">Volver a estudios del paciente: <b>{{paciente.nombre}} </b> </a>
  </li>
  <li>
    <a class="btn waves-effect waves-light yellow" style="margin-left:10px; margin-bottom:20px;" href="{{ path(estudio.getEstudioConfiguracion().link~'_edit', { 'id': estudio.id , 'idPaciente': paciente.id }) }}">Modificar</a>
  </li>

</ul>
{% endblock %}
