{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodoppcolormieminfders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDoppColorMiemInfDer in ecoDoppColorMiemInfDers %}
            <tr>
                <td><a href="{{ path('ecodoppcolormieminfder_show', { 'id': ecoDoppColorMiemInfDer.id }) }}">{{ ecoDoppColorMiemInfDer.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodoppcolormieminfder_show', { 'id': ecoDoppColorMiemInfDer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodoppcolormieminfder_edit', { 'id': ecoDoppColorMiemInfDer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodoppcolormieminfder_new') }}">Create a new ecoDoppColorMiemInfDer</a>
        </li>
    </ul>
{% endblock %}
