{% extends 'base.html.twig' %}

{% block body %}
    <h1>Médicos</h1>

    <table>
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
              <th>Direccion</th>
              <th>Sexo</th>
              <th>Nacionalidad</th>
              <th>Localidad</th>
              <th>Fechanacimiento</th>
                <th>Obrasocial</th>
                <th>Matricula</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for medico in medicos %}
            <tr>
              <td><a href="{{ path('medico_show', { 'id': medico.id }) }}">{{ medico.nombre }}</a></td>
              <td>{{ medico.apellido }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.direccion }}</td>
              <td>{% if medico.sexo %}Yes{% else %}No{% endif %}</td>
              <td>{{ medico.nacionalidad }}</td>
              <td>{{ medico.localidad }}</td>
              <td>{% if medico.fechaNacimiento %}{{ medico.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ medico.obraSocial }}</td>
                <td>{{ medico.matricula }}</td>
                
                <td><a class="btn-floating btn-small waves-effect waves-light blue" href="{{ path('medico_show', { 'id': medico.id }) }}"><i class="material-icons">zoom_in</i></a></td>
                <td><a class="btn-floating btn-small waves-effect waves-light yellow" href="{{ path('medico_edit', { 'id': medico.id }) }}"><i class="material-icons">create</i></a> </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('medico_new') }}"><i class="material-icons">person_add</i></a>Crear Nuevo Médico
        </li>
    </ul>
{% endblock %}
