{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medicos list</h1>

    <table>
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
              <th>Direccion</th>
              <th>Sexo</th>
              <th>Nacionalidad</th>
              <th>Localidad</th>
              <th>Fechanacimiento</th>
                <th>Obrasocial</th>
                <th>Matricula</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medico in medicos %}
            <tr>
              <td><a href="{{ path('medico_show', { 'id': medico.id }) }}">{{ medico.nombre }}</a></td>
              <td>{{ medico.apellido }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.direccion }}</td>
              <td>{% if medico.sexo %}Yes{% else %}No{% endif %}</td>
              <td>{{ medico.nacionalidad }}</td>
              <td>{{ medico.localidad }}</td>
              <td>{% if medico.fechaNacimiento %}{{ medico.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ medico.obraSocial }}</td>
                <td>{{ medico.matricula }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medico_show', { 'id': medico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medico_edit', { 'id': medico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medico_new') }}">Create a new medico</a>
        </li>
    </ul>
{% endblock %}
