{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a class="btn-floating btn-large waves-effect waves-light yellow" href="{{ path('medico_index') }}"><i class="material-icons">arrow_back</i></a>Volver al listado de Médicos
    </div>

    <h1>Médico</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medico.id }}</td>
            </tr>
            <tr>
                <th>Obrasocial</th>
                <td>{{ medico.obraSocial }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ medico.matricula }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ path('medico_edit', { 'id': medico.id }) }}"><i class="material-icons">create</i></a> Editar Médico
        </li>

    </ul>
{% endblock %}
