{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecodopplercolorvenmiemsups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoDopplerColorVenMiemSup in ecoDopplerColorVenMiemSups %}
            <tr>
                <td><a href="{{ path('ecodopplercolorvenmiemsup_show', { 'id': ecoDopplerColorVenMiemSup.id }) }}">{{ ecoDopplerColorVenMiemSup.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecodopplercolorvenmiemsup_show', { 'id': ecoDopplerColorVenMiemSup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecodopplercolorvenmiemsup_edit', { 'id': ecoDopplerColorVenMiemSup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecodopplercolorvenmiemsup_new') }}">Create a new ecoDopplerColorVenMiemSup</a>
        </li>
    </ul>
{% endblock %}
