{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecocardiogramatransesofagicos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecoCardiogramaTransesofagico in ecoCardiogramaTransesofagicos %}
            <tr>
                <td><a href="{{ path('ecocardiogramatransesofagico_show', { 'id': ecoCardiogramaTransesofagico.id }) }}">{{ ecoCardiogramaTransesofagico.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecocardiogramatransesofagico_show', { 'id': ecoCardiogramaTransesofagico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecocardiogramatransesofagico_edit', { 'id': ecoCardiogramaTransesofagico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecocardiogramatransesofagico_new') }}">Create a new ecoCardiogramaTransesofagico</a>
        </li>
    </ul>
{% endblock %}
